﻿@charset "utf-8";
/**
 * About
 * 
 * About
 *
 * @section		4.0			Content
 * @author						jlandt 
 * @version						1.0
 * @since							1.0
*/
.about .vcard{
	margin-bottom: 20px;
}
.about .article {
	overflow:hidden;
}
.about .article{
	border-bottom: 1px solid #aaa;
}
.about footer {
	margin: 30px 0 100px 0;
}
