﻿@charset "utf-8";
/**
 * Common baseline set after reset styles
 * 
 * Baseline
 *
 * @section		1.2			Baseline
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
html {
	overflow-y:scroll;
	font-size:62.5%;
	padding:3px 0 0;
	background:#333;
}
body {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	background:#f1ede8 url(../images/ui/body-back-texture.png) 0 0 repeat;
	color:#424242;
  padding:0 10px;
}
.group:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.wrapper {
  max-width:1200px;
	min-width:740px;
	margin:0 auto;
}
b, strong {
	font-weight:bold;
}
i, em {
	font-style:italic;
}
a {
	color:#cc5308;
	text-decoration:none;
}
mark a {
	color:white;
	background:#cc5308;
}
a:hover {
	text-decoration:underline;
}
a:active {
	color:#000;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
abbr {
	border-bottom:1px dotted #333;
	cursor:help;
}
input, textarea, select {
  font-size:1em;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}
::-moz-selection { background: #c85f1b; color: #fff; text-shadow: none; }
::selection { background: #c85f1b; color: #fff; text-shadow: none; }


.print-only {
    display:none;
}