﻿@charset "utf-8";
/**
 * Banner styles
 * 
 * Banner
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.bio .entry {
	overflow:hidden;
}
.bio figure {
	max-width: 100%;
	margin-top: 65px;
	padding: 10px;
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.figure.bio { position:relative; }
.figure.bio h3 { left:0; bottom:0; }
.bio .entry img {
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	min-height:100px;
	background:#ccc;
}
.bio .entry > footer {
	border: none
}
.bio .essentials {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cacaca;
}
.bio h3 {
	font-size: 2.1333333em;
	font-family: "League Gothic";
	color: #FFF;
	background-color:rgb(42,42,42);
	background-color: rgba(30,30,30,0.8);
	font-weight: normal;
	padding: 10px 20px 10px 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
}
.bio h2 {
	font-size: 1.93333333em;
	font-family: "League Gothic";
	color: #484848;
	font-weight: normal;
	margin: 0;
}
.bio h2 span {
   font-family: Arial,Sans-Serif;
   font-size: 0.448275862em;
   padding-left: 15px;
}
.bio h4 {
	font-size: 0.933333333333em;
	padding: 0;
	margin: 0;
}
.bio-col {
	width: 47.6635514%;
	float: left;
}
.bio-col.first {
	padding-right: 30px;
	padding-right: 4.67289719626%;
}