﻿/**
* Comment system for class articles
*
* @author: echristensen
*/
.teacherlist-toggle:hover {
  text-decoration: none; }
.teacherlist-toggle:after {
  content: "\2191";
  /* â†‘ */
  margin-left: 10px; }
.is-closed .teacherlist-toggle:after {
  content: "\2193";
  /* â†“ */ }

.comment-list .heading {
  margin-top: 2em;
  border-bottom: none; }
  .comment-list .heading h2 {
    display: block;
    padding-top: 0;
    padding-bottom: 6px;
    width: auto;
    font-size: 2.2em;
    border-bottom: 3px solid #424242; }
    .comment-list .heading h2:before {
      display: none; }
  .comment-list .heading .teacherlist-toggle {
    float: right; }
.comment-list .comment-item {
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  clear: both;
  background: #fff;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .comment-list .comment-item .comment-header {
    padding: 5px 20px;
    border-bottom: 1px solid #c0c0c0; }
    .comment-list .comment-item .comment-header h3 {
      display: inline;
      color: #b75415;
      font-size: 12px;
      font-size: 1.2rem; }
    .comment-list .comment-item .comment-header .datetime {
      margin-left: 10px;
      font-size: 11px;
      font-size: 1.1rem; }
  .comment-list .comment-item .entry {
    padding: 20px 20px 40px; }
  .comment-list .comment-item .button.delete {
    position: absolute;
    bottom: 10px;
    right: 10px; }
  .comment-list .comment-item.is-unread .comment-header {
    background: #c85f1b;
    color: #fff; }
    .comment-list .comment-item.is-unread .comment-header h3 {
      color: #fff; }
.comment-list .comment-field textarea {
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fdfaf2;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4); }
.comment-list .comment-field .button {
  float: right; }
