﻿/**
 * Content grid - base grid is 978 with 3 columns at 306 and two gutters at 30.
 * 
 * Content grid
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.content {
  padding: 40px 0 20px; }

.content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.content .grid-1, .content .grid-2, .content .grid-3 {
  float: left;
  width: 31.28834%;
  margin-left: 3.06748%; }

.content .grid-2 {
  width: 65.64417%; }

.content .grid-3 {
  width: 100%; }

.content .grid-first, .content .grid-1:first-child, .content .grid-2:first-child, .content .grid-3 {
  margin-left: 0; }

.content footer .back {
  float: right;
  margin-left: 50px; }

.content .grid-1.class-forum-box {
  float: right; }

/**
 * Common box used for links, asides and assignments block 
 * 
 * Box
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.content-box {
  clear: both;
  background: #fff;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 0 0 20px; }

.no-boxshadow .content-box, .no-boxshadow .content-box.news {
  border: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-top: none; }

.content-box .entry {
  padding: 20px 20px 15px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #737373;
  display: block; }

.content-box .entry > h3, .content-box .entry > h4 {
  margin: -19px -19px 18px;
  padding: 15px 19px;
  background: #dddcd3;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 1.91667em;
  font-weight: normal;
  font-family: "League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #626262;
  position: relative; }

.content-box .entry > h4 {
  padding-right: 55px; }

.content-box .entry > h4:after {
  content: ".";
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1.1em;
  margin-top: -14px;
  right: 19px;
  background: url(../images/ui/type-icons.png) 30px 30px no-repeat; }

.content-box.new-article .entry > h4 {
  padding-right: 19px; }
  .content-box.new-article .entry > h4:after {
    display: none; }

.grid-1.entry {
  padding-top: 1.4em; }

.grid-1.entry.flat-top {
  padding-top: 0; }

.content-box .entry > h4.empty {
  margin-bottom: -25px; }

.content-box .entry > h4.inside-poll {
  margin-bottom: 20px;
  padding-left: 19px; }

.content-box.opinion .entry > h4.inside-poll:after {
  margin-top: -14px; }

.content-box.opinion.news .entry > h4.inside-poll:after {
  margin-top: -30px; }

.content-box .entry p + ul {
  margin-top: -1.33333em; }

.content-box .entry a.expand {
  float: right;
  color: #cc5308;
  font-weight: bold;
  font-style: normal; }

.content-box .entry a:hover {
  text-decoration: underline; }

.content-box .entry a p:hover {
  text-decoration: none; }

.content-box .entry > footer {
  padding: 10px 0 0;
  border-top: 1px solid #d2d1c7;
  line-height: 18px;
  line-height: 1.8rem;
  overflow: hidden; }

.content-box .entry > footer em {
  font-style: normal;
  background: url(../images/ui/assignment-download-icon-orange.png) right center no-repeat;
  padding-right: 18px;
  display: block;
  float: left;
  margin-right: 7px;
  height: 21px; }

.content-box .entry > footer a {
  font-weight: normal;
  font-style: italic;
  color: #626262;
  float: left;
  margin-bottom: 0.6em;
  clear: both; }

.content-box .entry > footer a:hover {
  color: #cc5308; }

.content-box footer, .content-box aside {
  padding: 0 15px;
  background: #ddd;
  overflow: hidden; }

.content-box footer .paging, .content-box aside .paging {
  float: right; }

.content-box .shade {
  background: url(../images/ui/assignment-shade.png) left bottom repeat-x;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -o-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  z-index: 100; }

.content-box .show {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  z-index: 110; }

.content-box .show:hover {
  border-bottom: 1px solid #cc5308; }

.content-box.light {
  background: #f5f5f5;
  border: 1px solid #dfdfdf; }

.content-box.light .entry > h4 {
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  color: #424242; }

.content-box.important .entry {
  font-size: 15px;
  font-size: 1.5rem; }

.content-box.important .entry > h3, .content-box.important .entry > h4 {
  font-size: 2em;
  text-transform: uppercase; }

.content-box.important .entry ul {
  margin: 0;
  padding: 0; }

.content-box.important .entry ul li {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none; }

.content-box.download {
  width: 100% !important; }

.content-box.important .entry ul li a {
  font-weight: bold; }

.content-box.fact .entry > h4:after {
  background-position: 0 -90px; }

.content-box.assignment {
  padding-bottom: 20px; }

.content-box.assignment .entry > h4:after {
  background-position: 0 0; }

.content-box.assignment figcaption {
  display: none;
  height: 0;
  width: 0; }

.content-box.assignment footer {
  background: none; }

.content-box.download li {
  list-style: none;
  margin: 0;
  padding: 0; }

.content-box.download li a {
  display: block;
  padding-left: 30px;
  background: url(../images/ui/assignment-download-icon-orange.png) left top no-repeat;
  min-height: 22px;
  line-height: 1.5em;
  margin: 0 0 10px;
  color: #444; }

.content-box.download li a:hover {
  color: #cc5308; }

.content-box.cb-messages {
  overflow: visible;
  margin: 0 0 30px; }

.content-box.cb-polls .entry:before {
  content: ".";
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background: url(../images/ui/type-icons.png) center -60px no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 0.66667em; }

.content-box.cb-messages:after {
  display: block;
  content: ".";
  text-indent: 100%;
  overflow: hidden;
  background: url(../images/ui/content-box-light-message-triangle.png) 0 0 no-repeat;
  width: 29px;
  height: 27px;
  position: absolute;
  top: 100%;
  right: 20px; }

.content-box.opinion .entry > h4:after {
  background-position: 0 -60px; }

.content-box.opinion .entry ul.options {
  margin-top: -0.25em; }

.content-box.opinion .options.loading {
  background: url(../images/ui/ajax-loader.gif) right center no-repeat; }

.content-box.opinion .options.disabled label {
  cursor: default;
  padding-right: 50%; }

.content-box.opinion .options li {
  list-style: none;
  margin: 0.5em 0;
  position: relative;
  overflow: hidden; }

.content-box.opinion .options li .bar, .content-box.opinion .options li .val {
  display: block;
  position: absolute;
  left: 50%;
  height: 20px;
  background: #ccc;
  top: 0;
  width: 50%; }

.content-box.opinion .options li .bar {
  right: 0;
  left: auto; }

.content-box.opinion .options li .val {
  position: static;
  background: #c96422; }

.js .content-box.opinion .options label {
  background: url(../images/ui/content-box-checkbox.png) 0 1px no-repeat;
  padding-left: 22px;
  display: block;
  max-width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ie8.js .content-box.opinion .options label {
  width: 50%; }

.ie7.js .content-box.opinion .options label {
  width: 45%; }

.ie7.js .content-box.opinion .options .bar {
  width: 45%; }

.js .content-box.opinion .options label.checked {
  background-position: 0 -199px; }

.js .content-box.opinion .options input[disabled] + label {
  background-position: 0 -399px;
  cursor: default; }

.js .content-box.opinion .options label.disabled {
  background-position: 0 -399px;
  cursor: default; }

.js .content-box.opinion .options input[disabled] + label.checked {
  background-position: 0 -599px; }

.js .content-box.opinion .options label.checked.disabled {
  background-position: 0 -599px; }

.js .content-box.opinion .options li input {
  position: absolute;
  left: -100px; }

.content-box.opinion .entry .button {
  float: right; }

.content-box.opinion label[for] {
  cursor: pointer; }

.content-box.opinion label.disabled {
  cursor: default;
  cursor: not-allowed; }

.content-box.links .entry > h4:after {
  background-position: 0 -30px; }

.content-box.links ul {
  margin: 0 -1%;
  overflow: hidden; }

.content-box.links li {
  margin: 10px 1%;
  list-style: none;
  float: left;
  padding: 0;
  width: 23%; }

.content-box.links strong {
  display: block;
  margin: 0 0 0.25em; }

.content-box.links a {
  display: block;
  margin: 0.75em 0 0; }

.content-box.simple .entry > h3, .content-box.simple .entry > h4 {
  color: #424242;
  background: none;
  /*border-bottom:3px solid #424242;*/
  padding: 0 15px 5px;
  margin-top: -5px; }

.content-box.news {
  background: #ddd;
  position: relative;
  border: 1px solid #fff; }

.content-box.news .entry {
  background: #fff;
  overflow: hidden; }

.content-box.news article > a.entry {
  border-bottom: 40px solid #ddd; }

.content-box.news .entry:last-child {
  border-bottom: 40px solid #ddd; }

.content-box.news article {
  border-top: 40px solid #DDD; }

.content-box a.entry, .content-box a.entry:hover, .content-box a.entry:focus, .content-box a.entry:active {
  display: block;
  color: #424242;
  text-decoration: none; }

.content-box.news a.entry em, .content-box.classforum a.entry em {
  font-style: normal;
  color: #CC5308; }

.content-box.news a.entry:hover em, .content-box.news a.entry:focus em, .content-box.news a.entry:active em, .content-box.classforum a.entry:hover em, .content-box.classforum a.entry:focus em, .content-box.classforum a.entry:active em {
  text-decoration: underline; }

.content-box.news a.entry:hover h3, .content-box.news a.entry:hover h4, .content-box.news a.entry:focus h3, .content-box.news a.entry:focus h4, .content-box.news a.entry:active h3, .content-box.news a.entry:active h4, .content-box.classforum a.entry:hover h3, .content-box.classforum a.entry:hover h4, .content-box.classforum a.entry:focus h3, .content-box.classforum a.entry:focus h4, .content-box.classforum a.entry:active h3, .content-box.classforum a.entry:active h4 {
  color: #CC5308; }

.content-box.news .entry time {
  display: block;
  font-size: 0.8em;
  margin: -0.5em 0 1em; }

.content-box.news .paging {
  font-weight: normal; }

.content-box.news .paging .button {
  display: none; }

.content-box.news.persona .entry > figure:first-child, .content-box.news.persona .entry > .figure:first-child {
  margin: -20px -20px 1.53333em;
  max-width: none; }

.js .content-box.news .paging .button {
  display: block; }

.js .content-box.news article, .js .content-box.classforum article {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  top: 0;
  width: 100%; }

.js .content-box.news article.hide, .js .content-box.classforum article.hide {
  visibility: visible;
  z-index: 6;
  width: 100%; }

.js .content-box.news article.show, .js .content-box.classforum article.show {
  visibility: visible;
  border: none;
  position: relative;
  z-index: 4;
  bottom: auto;
  right: auto; }

.content-box.classforum {
  border: 1px solid #fff; }
  .content-box.classforum .item {
    border-top: 48px solid #ddd; }
  .content-box.classforum aside + .item {
    border-top: none; }
  .content-box.classforum .actions {
    padding: 10px 20px;
    background: #ddd; }

.content-box .classarticleteacherbox {
  font-size: 15px;
  font-size: 1.5rem; }
  .content-box .classarticleteacherbox li {
    padding: 10px 20px;
    border-top: 1px solid #e4e4e4;
    overflow: hidden; }
  .content-box .classarticleteacherbox a {
    float: right; }
  .content-box .classarticleteacherbox .new-articles {
    clear: both;
    color: #a9a9a9; }

/**
 * Aspects dropdown
 * 
 * Aspects
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
nav.aspects {
  line-height: 45px;
  position: relative;
  margin-top: -45px;
  margin-bottom: 30px;
  border-bottom: 1px solid #DDD; }

nav.aspects a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 0 20px;
  color: #474747;
  font-weight: bold;
  background: #f4f4f4;
  border-top: 1px solid #b2b4b4;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

nav.aspects ul {
  padding-top: 45px;
  overflow: hidden;
  height: auto;
  -o-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out; }

/*nav.aspects ul:hover {
	height:auto;
		-o-box-shadow:0 1px 1px rgba(0,0,0,0.25);
		-ms-box-shadow:0 1px 1px rgba(0,0,0,0.25);
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0.25);
		-wekbit-box-shadow:0 1px 1px rgba(0,0,0,0.25);
	box-shadow:0 1px 1px rgba(0,0,0,0.25);
}*/
nav.aspects li {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav.aspects a:hover, nav.aspects a:focus {
  background: #cc6f32;
  color: #fff;
  text-decoration: none; }

nav.aspects li.active a {
  border-top: none;
  color: #fff;
  background-color: #666;
  cursor: default; }

/**
 * Standard heading
 * 
 * Heading
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.heading {
  padding: 0 0 5px 0;
  border-bottom: 3px solid #424242;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  margin: 0 0 20px;
  z-index: 100; }

.heading:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
  font-size: 4em;
  font-family: "League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  display: inline;
  display: inline-block;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding-top: 0.125em; }

.heading h4, .heading h5, .heading h6 {
  font-size: 3em;
  padding-top: 0.33333em; }

.heading small {
  font-size: 0.8em;
  text-transform: none; }

.heading .dl-block, .heading .print, .class-article .print {
  float: right;
  margin-left: 4em; }

.heading .print, .class-article .print {
  text-decoration: none;
  background: url(../images/ui/icon-print-darker.png) right center no-repeat;
  font-style: normal;
  color: #626262;
  padding-right: 25px;
  margin-top: 2em;
  line-height: 2em;
  font-weight: normal; }

.heading .print:hover, .class-article .print:hover {
  text-decoration: underline; }

.class-article .print {
  margin-top: 1em; }

.class-article .print + h1 {
  margin-top: 0;
  clear: none; }

.heading .dl-block {
  margin-top: 2em; }

.heading .dl-block em {
  font-style: normal;
  background: url(../images/ui/method-download-icon.png) right center no-repeat;
  line-height: 2em;
  display: block;
  float: left;
  padding-right: 25px; }

.heading .dl-block a {
  font-weight: normal;
  font-style: italic;
  color: #626262;
  float: left;
  margin-left: 0.5em;
  line-height: 2em; }

.heading .dl-block a:hover {
  color: #cc5308; }

/**
 * Dropdown navigation
 * 
 * Dropdown navigation
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
nav.dropdown {
  display: inline; }

nav.dropdown > a {
  color: #7c868c; }

nav.dropdown ul {
  overflow: hidden;
  background: #424242;
  padding: 1em 0 1.5em 0;
  margin: 0 0 -10px; }

nav.dropdown li {
  margin: 0 2.33645%;
  border-bottom: 1px solid #666;
  float: left;
  width: 28.66044%; }

nav.dropdown li:nth-child(3n+1) {
  clear: left; }

nav.dropdown li.nth-child-3n-plus-1 {
  clear: left; }

nav.dropdown li a {
  color: #fff;
  display: block;
  background: #424242;
  padding: 1em 2px;
  -o-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out; }

nav.dropdown li a:hover {
  background: #666;
  text-decoration: none; }

.js nav.dropdown ul {
  position: absolute;
  left: -1999px;
  top: 4.5em;
  z-index: 10;
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  z-index: 100; }

.js nav.dropdown ul.active {
  left: 0;
  right: 0;
  visibility: visible; }

/**
 * 
 * Stack buttons
 *
 * @section		1.0			Content
 * @author						jjohansen
 * @version						1.0
 * @since							1.0
*/
.buttons {
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding-top: 20px; }

.buttons a {
  float: right;
  width: 33%; }

.buttons a:first-child {
  float: left; }
