@charset "utf-8";
/**
 * Main footer styles
 * 
 * Footer
 *
 * @section		3.0			Footer
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.site-footer {
	line-height:34px;
	font-size:12px;
	font-size:1.2rem;
	overflow:hidden;
	padding:30px 0;
	clear:both;
	color:#fff;
	background:#333;
}
body>.site-footer {
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
}
.site-footer em {
	font-weight:bold;
}
.site-footer a {
	display:block;
	float:left;
}
.site-footer h6 {
	width:72px;
	height:38px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url(../images/ui/footer-alinea-logo.png) 0 0 no-repeat;
	float:left;
	margin:0 20px 0 0;
}

.footer-link {
	background-color:#fff; 
}