﻿/**
 * Form wrapper
 * 
 * Form
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.form {
  position: relative; }

.form h2 {
  font-family: "League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0.5em; }

.form .button {
  clear: both;
  float: left;
  margin-bottom: 2em;
  width: auto; }

.form a.edit, .form a.delete, .form a.preview {
  background: #fff url(../images/ui/form-icons.png) 0 center no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }

.form a.edit {
  background-position: -40px center; }

.form a.delete {
  background-position: -20px center; }

.form a.edit:hover, .form a.delete:hover, .form a.preview:hover {
  background-color: #f1ede8; }

.form .form-edit {
  margin-top: 2em;
  border-top: 1px solid #ccc;
  padding-top: 2em; }

.form .form-preview {
  width: 404px;
  position: absolute;
  margin-left: -202px; }

.form .form-preview .messages {
  position: relative;
  top: auto !important;
  left: auto;
  margin: 0;
  width: 400px; }

.form .form-preview .messages article {
  position: static; }

.form .form-preview .opinion, .form .form-preview .messages {
  display: none; }

.form fieldset {
  margin-bottom: 1.33333em; }

.form fieldset > label, .form fieldset > legend {
  font-weight: bold;
  display: block;
  margin-bottom: 0.66667em;
  padding-bottom: 0.66667em; }

.form fieldset label[for] {
  cursor: pointer; }

.form fieldset ul, .form fieldset li {
  list-style: none;
  margin: 0;
  line-height: 1.33333em; }

.form fieldset label + input[type="text"], .form fieldset label + input[type="file"] {
  display: block;
  margin-bottom: 0.66667em; }

.form fieldset input[type="text"], .form fieldset input[type="file"], .form fieldset textarea {
  background: #fdfaf2;
  padding: 5px;
  width: 400px;
  border: none;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  border-top-color: #94918e;
  margin-top: 0.66667em; }

.form fieldset textarea {
  height: 5em; }

.form.ui-multiselect-menu .checkbox li.submit, .form.ui-multiselect-menu .checkbox li {
  background: none; }

.form .radio li, .form .checkbox li, .form.ui-multiselect-menu .checkbox label {
  position: relative;
  overflow: hidden;
  background: url(../images/ui/entry-table-goals-checkbox-deselected.png) left center no-repeat; }

.form .radio li.checked, .form .checkbox li.checked, .form.ui-multiselect-menu .checkbox label.checked {
  background-image: url(../images/ui/entry-table-goals-checkbox-selected.png); }

.form .checkbox li label {
  display: block;
  padding-left: 25px; }

.form .radio li input, .form .checkbox li input {
  position: absolute;
  left: -100px; }

.form .custom-dropdown {
  width: 410px; }

.form .custom-dropdown a {
  font-size: 1em; }

.form .custom-dropdown div, .form .custom-dropdown ul, .form .custom-dropdown.open div {
  background: #fdfaf2; }

.form .custom-dropdown ul li:first-child {
  display: none; }

.form .custom-dropdown div {
  border: 1px solid #e7e7e7;
  border-top-color: #94918e; }

.form .custom-dropdown ul a:hover {
  background-color: #ede4cb; }

.form input.button {
  width: auto; }

/**
 * Custom dropdown styles through simpleFormUI
 * 
 * Custom dropdown
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.custom-dropdown {
  width: 100%; }

.custom-dropdown div, .custom-dropdown ul {
  border: 1px solid #ccc;
  background-color: #fff;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.custom-dropdown.open div {
  background-color: #fff; }

.custom-dropdown div {
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #ccc; }

.custom-dropdown div a {
  background: url(../images/ui/custom-dropdown-arrow.png) right center no-repeat;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  line-height: 2rem;
  width: inherit;
  max-width: 100%;
  white-space: nowrap; }

.custom-dropdown a {
  padding: 4px 5px;
  padding: 0.4rem 5px;
  line-height: 18px;
  line-height: 1.8rem;
  font-size: 12px;
  font-size: 1.2em;
  display: block;
  text-decoration: none;
  color: #333; }

.custom-dropdown ul {
  width: auto;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  right: 0;
  max-height: 400px;
  overflow-y: auto; }

.custom-dropdown ul a {
  margin: 2px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.custom-dropdown ul .selected a, .custom-dropdown ul .selected a:hover {
  background-color: #cc5308;
  color: #fff; }

.custom-dropdown ul a:hover {
  background-color: #eee;
  color: #222; }

.placeholder {
  color: #CCC;
  position: absolute;
  left: 5px;
  top: 0; }
