﻿/**
 * Main header styles
 * 
 * Header
 *
 * @section		2.0			Header
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.site-header {
  padding: 20px 0 10px;
  font-size: 1.2em;
  position: relative;
  z-index: 200; }

.site-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.site-header .logo {
  float: left;
  margin-left: 0px; }

.site-header nav {
  float: right;
  height: 28px;
  padding: 10px 0;
  line-height: 28px; }

.ie8 .site-header nav > .custom-dropdown > div {
  height: 28px; }
  .ie8 .site-header nav > .custom-dropdown > div > a {
    height: 21px;
    line-height: 21px; }

.site-header nav > .custom-dropdown, .site-header nav > select, .site-header nav > p, .site-header nav > a, .site-header nav > div, .site-header nav > label {
  float: left;
  color: #727272;
  line-height: 28px;
  margin-left: 15px;
  width: auto; }

.site-header nav > .custom-dropdown, .site-header nav > select {
  width: 85px; }

.site-header nav > .custom-dropdown .button-holder {
  padding: 2px; }
  .site-header nav > .custom-dropdown .button-holder .button {
    display: block;
    width: 100%; }

.site-header nav > p em {
  font-weight: bold;
  font-style: italic;
  color: #cc5308; }

.site-header .button {
  width: auto;
  color: #333; }

.site-header .button:focus, .site-header .butto:hover {
  color: #b75415; }

.site-header .button.partial-left {
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  margin: 0;
  margin-right: 3px; }

.site-header .button.partial-right {
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin-left: 0; }

/**
 * Logotype styles
 * 
 * Logo
 *
 * @section		2.0			Header
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.logo {
  margin: -20px 0 -10px; }

.logo, .logo em, .logo h3 {
  width: 251px;
  height: 90px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/ui/logo.png) 0 0 no-repeat;
  position: relative; }

.logo.teacher, .logo.teacher em, .logo.teacher h3 {
  background: url(../images/ui/logo-teacher.png) 0 0 no-repeat; }

.opacity .logo em, .opacity .logo h3 {
  top: 0; }

.logo:hover em, .logo:focus em, .logo:active h3 {
  top: 0;
  opacity: 1; }

/*=SEARCH FORM*/
.search-form {
  position: relative; }

.search-form input[type="text"] {
  background: #fff;
  border: 1px solid #ccc;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 14px;
  height: 14px;
  padding: 7px 30px 7px 5px;
  width: auto; }

.search-form input[type="submit"] {
  position: absolute;
  height: 26px;
  right: 0;
  top: 50%;
  margin-top: -13px;
  width: 30px;
  background: transparent url(../images/ui/search-form-icon.png) top center no-repeat;
  border: none;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer; }

.search-form input[type="submit"]:hover {
  background-position: center center; }

.search-form input[type="submit"]:active, .search-form input[type="submit"]:focus {
  background-position: bottom center; }

.search-form .keywords {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 2px;
  background: #fff;
  border: 1px solid #ccc;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  z-index: 10;
  color: #222; }

.search-form .keywords li {
  font-size: 1em;
  line-height: 1.8em;
  padding: 0 10px;
  cursor: pointer;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.search-form .keywords li.active {
  background: #e9e9e9;
  color: #cc5308; }
