﻿/**
 * Main login
 * 
 * Main login
 *
 * @section		4.0			Content
 * @author						jlandt
 * @version						1.0
 * @since							1.0
*/
.content-box.promotion .entry > h4 {
  border-bottom: 3px solid #555;
  background: #fff;
  color: #424242;
  font-size: 2.5em;
  text-transform: uppercase; }

.content-box.promotion .entry > h4:after {
  display: none; }

.login-block {
  border-top: 1px solid #CCC; }

.login-block .button {
  margin-top: 20px;
  float: right; }

.login-block .button.significant {
  float: left; }

.login.entry h2 {
  margin-bottom: 30px; }

.login.entry figure {
  margin: 20px 0; }
