﻿@charset "utf-8";
/**
 * Media Gallery
 * 
 * Media Gallery
 *
 * @section		4.0			Content
 * @author						jlandt
 * @version						1.0
 * @since							1.0
*/
.media-gallery .item.entry.content-box {
	padding: 7px 7px 0px 7px;
	margin-bottom: 30px;
}
.media-gallery ul {
	margin: 0 -1.5337423312883435582822085889571%;
	overflow: hidden;
}
.media-gallery ul li {
	float: left;
	margin: 0 1.488095238095238%;
	width: 22.02380952380952%;
}
.media-gallery ul li:nth-child(4n+1) {
	clear:left;
}
.media-gallery ul li:nth-child-4n-plus-1 {
	clear:left;
}
.media-gallery .item.entry img {
	margin: 0;
	border-radius: 0;
	min-height: 50px;
	background: #ccc;
}
.media-gallery h2 {
	margin-bottom: 30px;
	font-family: "League Gothic";
	font-size: 3.8em;
	font-weight: normal;
	color: #484848;
}
.media-gallery h3 {
	font-weight: normal;
	margin-bottom: 15px;
	height: 4em;
}
.media-gallery .item footer {
	border: none;
	background: #f5f5f5;
	padding: 3px;
	margin-left: -7px;
	margin-right: -7px;
}
.media-gallery .media-list {
	margin-bottom: 30px;
}
.media-gallery .media-list-show-all {
	color:#7C868C;
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size:12px;
	display:inline-block;
	margin:0 0 0 10px;
	font-weight:bold;
}
.media-content .download, .media-gallery .download {
	font-style: normal;
	background: url(../images/ui/method-download-icon.png) right center no-repeat;
	line-height: 2em;
	font-weight: normal;
	color: #484848;
	display: block;
	font-size:0.8em;
	float: right;
	padding-right: 25px;
}
.media-content .download:hover, .media-gallery .download:hover {
	color: #cc5308;
	text-decoration:underline;
}
.media-footer {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
}
.media-footer a {
	float: right;
}
.media-footer .show-all {
	float: left;
}
.media-content {
	font-size: 15px;
	font-size: 1.5rem;
}
.media-content .footer {
	overflow: hidden;
	background: #f5f5f5;
	border-top: 1px solid #eee;
	padding: 0 15px;
	line-height: 2.5em;
	min-width: 20em;
}
.media-content .download {
	float: left;
	font-size: 1em;
	line-height: 2.5em;
}
.media-content .image, 
.media-content .media {
	border: 10px solid #fff;
	display: block;
	width: auto;
	height: auto;
	min-height: 20px;
	background: #ccc;
}
.media-content .paging, 
.media-content .close {
	float: right;
	line-height: 2.5em;
	margin-left: 1em;
	display:block;
}
.media-content .paging .button {
	margin-top: 0.333333em;
}
.media-content .close {
	margin-top: 0.333333em;
	width: 28px;
	height: 28px;
	background: url(../images/ui/media-info-item-close.png) center -28px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}
.media-content .close:hover,
.media-content .close:focus {
	background-position:center 0;
}
