﻿@charset "utf-8";
/**
 * Messaging center
 * 
 * Messages
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.messages {
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c2c2c2;
	background:#fff;
	width:500px;
	margin:1em auto;
	position:relative;
	padding:1px;
}
.js .messages {
	position:absolute;
	z-index:1000;
	margin-left:-250px;
	margin-left:-25em;
	left:50%;
	top:-999px;
}
.js .messages.closed {
	top:-999px !important;
	display:none;
}
.js .messages:before {
	content:".";
	text-indent:100%;
	display:block;
	overflow:hidden;
	whitespace:nowrap;
	width:9px;
	height:6px;
	background:url(../images/ui/messages-arrow.png) 0 0 no-repeat;
	position:absolute;
	top:-6px;
	left:50%;
	margin-left:-4px;
}
.js .messages article {
	position:absolute;
	top:-9999px;
}
.js .messages article.active {
	position:static;
}
.messages header,
.messages>footer,
.messages .entry,
.messages article footer {
	background:#dcdcdc;
	padding:10px 15px;
	font-size:1.1rem;
	font-size:12px;
	line-height:1.818181818181818em;
	color:#3f3f3f;
}

.messages article.new header {
	background-color:#F0A030;
}

.messages article footer li {
	list-style:none;
	margin:0;
}
.messages .entry,
.messages>footer {
	font-size:1.5rem;
	font-size:15px;
	line-height:1.333333333333333em;
	overflow:hidden;
}
.messages article footer,
.messages .entry {
	background:transparent;
}
.messages article footer {
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
}
.messages article footer strong {
	text-transform:uppercase;
}
.messages article footer li a {
	display:block;
	padding-left:30px;
	line-height:2em;
	background:url(../images/ui/messages-download.png) left center no-repeat;
	color:#3f3f3f;
	margin-top:5px;
}
.messages .close {
	position:absolute;
	text-indent:100%;
	width:17px;
	white-space:nowrap;
	overflow:hidden;
	height:17px;
	right:15px;
	top:11px;
	background:url(../images/ui/messages-close.png) 0 0 no-repeat;
}
.messages .close:hover,
.messages .close:focus,
.messages .close:active {
	background-position:0 -17px;
}
.messages .paging {
	position:absolute;
	right:45px;
	top:7px;
	padding:0;
	font-size:12px;
	}
/**
 * Paging controls
 * 
 * Paging
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.paging {
	overflow:hidden;
	color:#3f3f3f;
	font-size:1.5rem;
	font-size:15px;
	line-height:28px;
	padding: 10px 0;
}
.paging p,
.paging .button {
	float:left;
}
.paging p {
	text-shadow:0 1px #fff;
	margin:0 10px;
}