﻿@charset "utf-8";
/**
 * Method article
 * 
 * Method article
 *
 * @section		4.0			Content
 * @author						jlandt
 * @version						1.0
 * @since							1.0
*/
.method.entry.article > figure {
	max-width: 100%;
	border: 10px solid #fff;
	width:auto;
	display:block;
	height:auto;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
	float:none;
}
.method.article figure img {
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	background: #FFF;
	min-height:100px;
	background:#ccc;
}
.method.entry.article h2 {
	color: #484848;
	font-size: 2.333333em;
	font-family: "League Gothic";
	font-weight: normal;
	line-height: 1em;
}
footer.method {
	clear: both;
	width: 100%;
}
footer.method a {
   float: right
}
