﻿@charset "utf-8";
/**
 * Method list
 * 
 * Method list
 *
 * @section		4.0			Content
 * @author						jlandt
 * @version						1.0
 * @since							1.0
*/
.method-list {
	margin: 0 -1.5337423312883435582822085889571%;
	overflow: hidden;
}
.method-list .content-box {
}
.method-list .content-box>img:first-child {
	float:left;
	display:block;
		-o-border-radius:3px 0 0 3px;
		-ms-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	max-width:50%;
}
.method-list>li {
	float: left;
	margin: 0 1.488095238095238% 30px;
	width: 47.02380952380952%;
}
.method-list>li:nth-child(2n+1) {
	clear:left;
}
.method-list>li.nth-child-2n-plus-1 {
	clear:left;
}
.method-list .entry {
	overflow:hidden;
	font-size:15px;
	font-size:1.5rem;
	color:#424242;
}
.method-list .entry li {
	list-style:none;
	margin:0 0 0.75em;
}
.method-list .content-box footer {
	padding: 0;
	border: none;
	background: #FFF;
	font-size: 0.8em;
	line-height:2em;
}
.method-list .entry > footer em {
	font-style: normal;
	background: url(../images/ui/method-download-icon.png) right center no-repeat;
	padding-right: 17px;
	display: block;
	float: left;
	margin-right: 7px;
}
.method-list .entry > footer a {
	font-weight: normal;
	font-style: italic;
	color: #626262;
	float: left;
	margin-right: 0.6em;
	clear:both;
}
.method-list .entry > footer a:hover {
	color: #cc5308;
	text-decoration:underline;
}
.method-list .content-box .entry h3 {
	color: #6c7072;
	font-size: 2.3333333em;
	font-family: "League Gothic";
	font-weight: normal;
	border-bottom: 1px solid #cacaca;
	background:none;
	margin: 0 0 0.4em;
	padding:0;
}
.method-list .entry a {
	display: block;
	font-weight: bold;
}
.method-list > footer {
	border: none;
	float: right;
}
@media screen and (max-width:880px) {
	.method-list .content-box>img:first-child {
		max-width:33%;
			-o-border-radius:3px 0 0 0;
			-ms-border-radius:3px 0 0 0;
			-moz-border-radius:3px 0 0 0;
			-webkit-border-radius:3px 0 0 0;
		border-radius:3px 0 0 0;
	}
}