﻿/**
 * Banner styles
 * 
 * Banner
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.news-listing h2 {
  font-size: 3.6em;
  font-family: "League Gothic";
  color: #FFF;
  background: transparent url(../images/ui/black-opacity-80.png) 0 0 repeat;
  background: rgba(30, 30, 30, 0.8) none;
  font-weight: normal;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  margin: 0;
  border-radius: 3px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis; }

.news-listing .content-box .entry {
  font-size: 1.5em;
  margin-bottom: 20px;
  overflow: hidden; }

.news-listing .content-box figure {
  float: left; }

.news-listing .content-box figure img {
  display: block;
  width: 340px;
  background: #ccc; }

.news-listing .entry h6 {
  font-size: 0.8em;
  color: #6c7072;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 15px; }

.news-listing .entry a {
  font-weight: bold; }

.news-listing .entry h5 {
  font-style: italic;
  font-weight: normal;
  padding-top: 20px; }

.news-listing .heading .button {
  position: absolute;
  bottom: 1.1em;
  right: 0; }
