﻿/**
 * News article styles - primarily header
 * 
 * News article
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.news header {
  height: auto;
  background: transparent url(../images/ui/black-opacity-10.png);
  background: rgba(0, 0, 0, 0.1) none;
  color: #393838;
  line-height: inherit;
  overflow: hidden;
  padding: 40px 0 30px;
  margin: -40px 0 40px; }

body > .news > header, body > form > .news > header {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px; }

#fancybox-content .news header {
  background: transparent none;
  padding: 0; }

.news header a {
  background: url('../images/ui/icon-print-darker.png') right center no-repeat;
  color: #8d8d8d;
  float: right;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 25px; }

.news header a:hover {
  text-decoration: underline; }

.news header h1 {
  margin: 0;
  font-weight: normal; }

.news header h6 {
  font-size: 0.66667em;
  margin-bottom: 10px;
  font-weight: normal; }

.news .article h2:first-child {
  padding: 0; }

.news .article h2:first-child:before {
  display: none; }
