﻿@charset "utf-8";
/**
 * HTML5 reset styles
 * 
 * Reset
 *
 * @section		1.1			Reset
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, figure, figcaption, menu { margin:0; padding:0;}table { border-collapse:collapse; border-spacing:0;}fieldset,img { border:0;}address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}ol,ul { list-style:none;}caption,th { text-align:left;}h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}q:before,q:after { content:'';}abbr,acronym { border:0;}section, article, header, footer, nav, aside, hgroup, video, figure, figcaption, menu { display:block; }