﻿/*@charset "utf-8";*/
/**
 * Search results
 * 
 * Search results
 *
 * @section		4.0			Content
 * @author						jlandt
 * @version						1.0
 * @since							1.0
*/
.search-result > .entry li {
    list-style: none;
    margin:4em 0 0;
}
.search-result .entry h4 {
    font-size: 1em;
    font-family: Arial, Sans-Serif;
    color: #484848;
    font-weight: bold;
    padding: 0;
    margin: 20px 0 0;
    padding-left: 34.355828220858897%;
}
.search-result h4 span {
    font-weight: normal;
    color: #cc5308;
}
.search-result h2 {
    font-size: 1.866666667em;
    font-family: "League Gothic";
    color: #484848;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: 33.333333333%;
    float: left;
}
.search-result h2 span {
	display:block;
	font-weight:normal; 
	font-size:0.55em; 
	font-family:Arial,'Helvetica Neue',Helvetica,sans-serif; 
	color:#424242;
}
.search-result h5 {
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #6c7072;
    font-style: italic;
    font-weight: normal;
    padding-left: 34.355828220858897%;
}
.search-result .search.entry {
    margin-bottom: 50px
}
.search-result a {
    font-weight: bold;
}
.search-result .search.entry div div {
    float: right;
    width: 65.6441717791411%;
}
.search-result footer {
    border: none
}