﻿@charset "utf-8";
/**
 * Subject list
 * 
 * Subject list
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.subject-list ul {
	margin:20px -2.336448598130841%;
	overflow:hidden;
}
.subject-list li {
	float:left;
	margin:0 2.232142857142857% 20px;
	width:45.53571428571429%;
	position:relative;
	font-size:10px;
	font-size:1em;
		-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.subject-list li:nth-child(2n+1) {
	clear:left;
}
.subject-list li.nth-child-2n-plus-1 {
	clear:left;
}
.subject-list li img {
	width:100%;
	height:auto;
	min-height:150px;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	display:block;
	background:#ccc;
}
.subject-list li>div,
.subject-list li a {
	display:block;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	position:relative;
	width:100%;
}
.subject-list li a:hover {
	text-decoration:none;
}
.subject-list li hgroup {
	display:block;
	position:absolute;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	top:0;
	right:0;
	left:0;
	padding:10px 15px;
	background:url(../images/ui/black-opacity-80.png) 0 0 repeat;
	font-weight:bold;
	font-size:1.5em;
	color:#909498;
}
.subject-list li hgroup>:first-child {
	color:#fff;
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal;
	font-size:2.4em;
	line-height:1.1em;
}
.subject-list li hgroup a {
	color:#fff;
	display:block;
	border-top:1px solid #ddd;
	display:inline-block;
		-o-border-radius: 0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	border-radius: 0;
	margin-top:0.5em;
	padding-top:0.25em;
	font-weight:normal;
}
.subject-list li .subject-list-links { 
	padding:0.6em 0;
	background-color:#fff;
}
.subject-list li p {
		-o-border-radius:0 0 3px 3px;
		-ms-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	background:#fff;
	font-size:1.5em;
	line-height:1.75em;
	padding:0 1em;
	font-weight:bold;
}
.subject-list li hgroup a:hover,
.subject-list li p a:hover {
	text-decoration:underline;
}
.subject-list li nav {
	overflow:hidden;
	background-color: #8f8f8f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#6d6d6d)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8f8f8f, #6d6d6d); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #8f8f8f, #6d6d6d); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8f8f8f, #6d6d6d); /* IE10 */
	background-image:      -o-linear-gradient(top, #8f8f8f, #6d6d6d); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #8f8f8f, #6d6d6d);
		-o-border-radius:0 0 3px 3px;
		-ms-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	margin-top:1px;
}
.subject-list li nav a {
	float:left;
	width:33.333333333333333%;
	display:block; 
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	background-color: #8f8f8f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#6d6d6d)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8f8f8f, #6d6d6d); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #8f8f8f, #6d6d6d); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8f8f8f, #6d6d6d); /* IE10 */
	background-image:      -o-linear-gradient(top, #8f8f8f, #6d6d6d); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #8f8f8f, #6d6d6d);
		-o-border-radius:none;
		-ms-border-radius:none;
		-moz-border-radius:none;
		-webkit-border-radius:none;
	border-radius:none;
	line-height:1.75em;
	font-weight:bold;
}
.subject-list li nav a span {
	display:block;
	padding:0 5px;
	border-left:1px solid #f1ede8;
}
.subject-list li nav a:first-child {
		-o-border-radius:0 0 0 3px;
		-ms-border-radius:0 0 0 3px;
		-moz-border-radius:0 0 0 3px;
		-webkit-border-radius:0 0 0 3px;
	border-radius:0 0 0 3px;
}
.subject-list li nav a:first-child span {
	border:none;
}
.subject-list li nav a:last-child {
		-o-border-radius:0 0 3px 0;
		-ms-border-radius:0 0 3px 0;
		-moz-border-radius:0 0 3px 0;
		-webkit-border-radius:0 0 3px 0;
	border-radius:0 0 3px 0;
}
.subject-list li nav a:hover {
	background-color: #727373;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#727373), to(#4b4947)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #727373, #4b4947); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #727373, #4b4947); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #727373, #4b4947); /* IE10 */
	background-image:      -o-linear-gradient(top, #727373, #4b4947); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #727373, #4b4947);
}
.subject-list li nav a:focus,
.subject-list li nav a:active,
.subject-list li nav a.active {
	background-color: #bf5f24;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bf5f24), to(#97400b)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #bf5f24, #97400b); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #bf5f24, #97400b); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #bf5f24, #97400b); /* IE10 */
	background-image:      -o-linear-gradient(top, #bf5f24, #97400b); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #bf5f24, #97400b);
}
.subject-list .short-texts article {
	background:url(../images/ui/black-opacity-90.png) 0 0 repeat;
	padding:0;
	color:#fff;
	font-size:1.2em;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	margin:0 0 1em;
	overflow-y:auto;
	overflow-x:hidden;
}
.subject-list .short-texts article div {
	padding:15px;
}
.subject-list .short-texts article h4 {
	font-size:1.25em;
	color:#cc5308;
	margin:0 0 0.5em;
	padding-right:30px;
}
.subject-list .short-texts article p {
	margin:0 0 0.5em;
}
.subject-list .short-texts article a:active {
	color:#fff;
}
.js .subject-list .short-texts article {
	position:absolute;
	visibility:hidden;
	width:47.66355140186916%;
}
.js .subject-list .short-texts article.active {
	visibility:visible;
}
.js .subject-list .short-texts article .close {
	position:absolute;
	top:15px;
	right:15px;
	background:url(../images/ui/subject-list-shorttext-close.png) 0 0 no-repeat;
	width:15px;
	height:15px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}