﻿@charset "utf-8";
/**
 * Subject list
 * 
 * Subject list
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.subject > ul {
	margin: 0 -2.3364485981308411214953271028037%;
	overflow: hidden;
}
.subject > ul > li:nth-child(odd) {
	clear: left
}
.subject > ul > li.nth-child-odd {
	clear: left
}
.subject > ul > li {
	float: left;
	margin: 0 2.232142857142857%;
	width: 45.53571428571429%;
	margin-bottom: 60px;
}
.subject .entry {
	padding:0 15px;
}
.subject .entry figure {
	margin:0 -15px 1.53333333333em;
}
.subject .entry figure img {
	border-radius: 3px 3px 0 0;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.subject .entry h2 {
	position: absolute;
	bottom: 15px;
	background: transparent url(../images/ui/black-opacity-80.png) 0 0 repeat;
	background: rgba(30,30,30,0.8) none;
	width: 69.9346405228758%;
	width: 60.130718954248349%;
	padding: 15px;
	color: #fff;
}
.subject .entry ul {
	margin: 0;
	padding: 0;
}
.subject .entry ul li {
	margin: 0 -15px;
	overflow:hidden;
	list-style: none;
	border-top: 1px solid #ddd;
	overflow:hidden;
	padding:0;
}
.subject .entry ul a {
	display:block;
	overflow:hidden;
	color:#424242;
		-o-transition:all 0.2s ease-out;
		-ms-transition:all 0.2s ease-out;
		-moz-transition:all 0.2s ease-out;
		-webkit-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
	cursor:pointer;
	background:#fff;
}
.subject .entry ul li:last-child a {
	border-radius:0 0 3px 3px;
}
.subject .entry ul a:hover,
.subject .entry ul a:focus {
	color:#cc5308;
	background:#eee;
}
.subject .entry ul a:active {
	color:#000;
}
.subject .entry ul h4 {
	padding:1.6em 0 1.6em 1em;
	margin:0;
	line-height:1.5em;
	font-size:0.85em;
	clear:none;
}
.subject .entry ul img {
	float: right;
	display: block;
	margin:0;
}
