﻿@charset "utf-8";
/**
 * Sub navigation and breadcrumb styles
 * 
 * Subnav
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.sub-nav {
	overflow:hidden;
	background:#404040 url(../images/ui/subnav-gradient.png) 0 0 repeat-x;
		-o-box-shadow:0 1px 1px rgba(0,0,0,0.4);
		-ms-box-shadow:0 1px 1px rgba(0,0,0,0.4);
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0.4);
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.4);
	box-shadow:0 1px 1px rgba(0,0,0,0.4);
	padding:10px 0;
}
body>.sub-nav,
body>form>.sub-nav {
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
	min-height:28px;
}
.sub-nav .button {
	float:right;
	margin:0 15px 0 0;
	width:auto;

}
.sub-nav .breadcrumb + .button {
	margin-right: 0;
}
.sub-nav .breadcrumb {
  float:left;
	margin:0 0 0 20px;
	font-size:14px;
	font-size:1.4rem;
	text-shadow:0 1px rgba(0,0,0,0.25);
}
.sub-nav .breadcrumb li {
  float:left;
	background:url(../images/ui/subnav-breadcrumb-arrow.png) center left no-repeat;
	margin-left:5px;
	padding-left:17px;
}
.sub-nav .breadcrumb li:first-child {
	background:none;
	margin:0;
	padding:0;
}
.sub-nav .breadcrumb a {
  line-height:28px;
  line-height:2.8rem;
	color:#fff;
	display:block;
	margin:0;
	max-width:16em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.sub-nav .breadcrumb a.active {
	color:#f57f33;
	text-decoration:none;
}