@using umbraco.NodeFactory
@using Alinea.Samfundsfag.BusinessLogic.Common
@using Alinea.Samfundsfag.BusinessLogic.Controller
@using Alinea.Samfundsfag.BusinessLogic.Models
@using Alinea.Samfundsfag.BusinessLogic.Services
@using Futuristic.Umbraco
@inherits umbraco.MacroEngines.DynamicNodeContext

@{
	var cite = Parameter.Cite;
	var citetext = Parameter.Citetext;	
}

@if (!string.IsNullOrEmpty(cite) || !string.IsNullOrEmpty(citetext))
{
	<p class="citewrapper">
		@if (!string.IsNullOrEmpty(cite))
		{
			<span class="cite">@cite</span>
		}
		@if (!string.IsNullOrEmpty(citetext))
		{
			<span class="citetext">@citetext</span>
		}
	</p>
}
