@using umbraco.NodeFactory
@using Alinea.Samfundsfag.BusinessLogic.Common
@using Alinea.Samfundsfag.BusinessLogic.Controller
@using Alinea.Samfundsfag.BusinessLogic.Models
@using Alinea.Samfundsfag.BusinessLogic.Services
@using Futuristic.Umbraco
@inherits umbraco.MacroEngines.DynamicNodeContext
<div class="entry article grid-2">

    <!-- START Title and Metadata -->
    <a href="#print" class="print">Print</a>
    <h1>@Model.title</h1>

    <p class="intro">@Model.manchet</p>

    <div class="author">Skrevet af: Lone Poulsen og Sten Larsen</div>
    <div class="author">Fag: Historie, Samfundsfag</div>
    <!-- END Title and Metadata -->

    <!-- START Text content area -->
    @foreach(var item in Model.Children)
{
    if (!String.IsNullOrEmpty(item.text.ToString()))
    {
        @item.text
    }
    if (!String.IsNullOrEmpty(item.imageText.ToString()))
    {
        var image = Library.MediaById(item.image);
        if (!String.IsNullOrEmpty(item.image))
        {
        <figure>
            <img src="@image.umbracoFile" alt="" />
            <figcaption>
                @item.imageText
            </figcaption>
        </figure>
        }
    }
    if (!String.IsNullOrEmpty(item.audioText.ToString()))
        {
        var audiofile = Library.MediaById(item.audiofile);
        if (!String.IsNullOrEmpty(item.audiofile))
        {
        <div class="media aud" data-src="@audiofile.umbracoFile">
            <a class="fallback" target="_blank" href="@audiofile.umbracoFile">
                <img alt="Audio" src="/images/content/audio-placeholder.png" />
            </a>
            <p class="caption">
                <cite>@item.audioText</cite>
            </p>
        </div>
        }
    }
    if (!String.IsNullOrEmpty(item.youTubeLink))
    {
        <div class="media-iframe">
            <iframe width="100%" height="100%" frameborder="0" allowfullscreen="" src="" data-src="@Alinea.Samfundsfag.BusinessLogic.Utilities.XsltHelper.CleanYoutubeId(item.youTubeLink)"></iframe>
        </div>
    }
    <!-- END Youtube element -->
}


    <!-- END Text content area -->

    <!-- START Image element -->
    @*@{
        var image1 = Library.MediaById(Model.image1);
        if (!String.IsNullOrEmpty(Model.image1))
        {
        <figure>
            <img src="@image1.umbracoFile" alt="" />
            <figcaption>
                @Model.image1Text
            </figcaption>
        </figure>
        }
    }
    <!-- END Image element -->

    <!-- START Image element -->
    @{
        var image2 = Library.MediaById(Model.image2);
        if (!String.IsNullOrEmpty(Model.image2))
        {
        <figure>
            <img src="@image2.umbracoFile" alt="" />
            <figcaption>
                @Model.image2Text
            </figcaption>
        </figure>
        }
    }
    <!-- END Image element -->
    <!-- START Image element -->
    @{
        var image3 = Library.MediaById(Model.image3);
        if (!String.IsNullOrEmpty(Model.image3))
        {
        <figure>
            <img src="@image3.umbracoFile" alt="" />
            <figcaption>
                @Model.image3Text
            </figcaption>
        </figure>
        }
    }
    <!-- END Image element -->

    <!-- START Audio element -->
    @{
        var audiofile = Library.MediaById(Model.audiofile);
        if (!String.IsNullOrEmpty(Model.audiofile))
        {
        <div class="media aud" data-src="@audiofile.umbracoFile">
            <a class="fallback" target="_blank" href="@audiofile.umbracoFile">
                <img alt="Audio" src="/images/content/audio-placeholder.png" />
            </a>
            <p class="caption">
                <cite>@Model.audioText</cite>
            </p>
        </div>
        }
    }
    <!-- END Audio element -->

    <!-- START Youtube element -->
    @if (!String.IsNullOrEmpty(Model.youTubeLink))
    {
        <div class="media-iframe">
            <iframe width="100%" height="100%" frameborder="0" allowfullscreen="" src="" data-src="@Alinea.Samfundsfag.BusinessLogic.Utilities.XsltHelper.CleanYoutubeId(Model.youTubeLink)"></iframe>
        </div>
    }
    <!-- END Youtube element -->

    <!-- START Footer navigation -->
    <footer>
        <nav class="article-actions">
            <a class="button discreet back" href="#back">Tilbage</a>
        </nav>
    </footer>
    <!-- END Footer navigation -->*@

</div>
