@using umbraco.NodeFactory
@using Alinea.Samfundsfag.BusinessLogic.Common
@using Alinea.Samfundsfag.BusinessLogic.Controller
@using Alinea.Samfundsfag.BusinessLogic.Models
@using Alinea.Samfundsfag.BusinessLogic.Services
@using Futuristic.Umbraco
@inherits umbraco.MacroEngines.DynamicNodeContext
@*@{
    var cite = Parameter.Cite;
    var citetext = Parameter.Citetext;	
}

@if (!string.IsNullOrEmpty(cite) || !string.IsNullOrEmpty(citetext))
{
    <p class="citewrapper">
        @if (!string.IsNullOrEmpty(cite))
        {
            <span class="cite">@cite</span>
        }
        @if (!string.IsNullOrEmpty(citetext))
        {
            <span class="citetext">@citetext</span>
        }
    </p>
}*@

<div class="mod frontpage-scrollable scrollable scrollable-horizontal has-prevnext  {autoplay:true, loop:true, interval:5000, speed:800, keyboard:false}">
    <!-- has-paging has-readmore -->
    <div class="panel-nav">
        <button class="prev"></button>
        <div class="panel-count"></div>
        <button class="next"></button>
    </div>
    <!--.panel-nav-->
    <div class="panels-container">
        <div class="panels">
            @*Used on frontpage*@
            @if (!String.IsNullOrEmpty(Model.forsideSlides.ToString()))
            {
                foreach (var x in Model.forsideSlides)
                {
                    var media = Library.MediaById(@Model.NodeById(@x.InnerText).image);
                <div class="panel">
                    <div class="pInner">
                        @if (!String.IsNullOrEmpty(Model.NodeById(@x.InnerText).link.ToString()))
                        {
                            <a href="@Model.NodeById(@x.InnerText).link">
                                <img src="@media.umbracoFile" alt="@Model.NodeById(@x.InnerText).title">
                                <div class="wrapper">
                                    <div class="box @(Model.NodeById(@x.InnerText).sliderBaggrunden ? "orange":"gold")">
                                        <h2>@Model.NodeById(@x.InnerText).title</h2>
                                        <h6>@Model.NodeById(@x.InnerText).subhead</h6>
                                    </div>
                                </div>
                            </a>
                            }

                        else{
                        <img src="@media.umbracoFile" alt="@Model.NodeById(@x.InnerText).title"/>
                        <div class="wrapper">
                            <div class="box @(Model.NodeById(@x.InnerText).sliderBaggrunden ? "orange":"gold")">
                                <h2>@Model.NodeById(@x.InnerText).title</h2>
                                <h6>@Model.NodeById(@x.InnerText).subhead</h6>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                }    
                        
                <!--.panel-->
            }
                
@*Used on subpage*@
            else
            {
                foreach (var x in Model.Parent.forsideSlides)
                {
                    var media = Library.MediaById(@Model.NodeById(@x.InnerText).image);
                <div class="panel">
                    <div class="pInner">
                        <img src="@media.umbracoFile" alt="@Model.NodeById(@x.InnerText).title;">
                        <div class="wrapper">
                            <div class="box">
                                <h2>@Model.NodeById(@x.InnerText).title;</h2>
                                <h6>@Model.NodeById(@x.InnerText).subhead;</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.panel-->
                }
            }


        </div>
        <!--.panels-->
    </div>
    <!--.panels-container-->
</div>
<!--.scrollable-->
