﻿@using umbraco.NodeFactory
@using Futuristic.Common.Extensions
@using Alinea.Samfundsfag.BusinessLogic.Common
@using Alinea.Samfundsfag.BusinessLogic.Controller
@using Alinea.Samfundsfag.BusinessLogic.Models
@using Alinea.Samfundsfag.BusinessLogic.Services
@using Futuristic.Umbraco
@inherits umbraco.MacroEngines.DynamicNodeContext
@if (!SessionController.HasUserClass)
{
    return;
}

@{
    using (var uas = new UserArticleService())
    {

        var userArticles = uas.GetUserArticles(SessionController.CurrentUserClass.ClassId).Take(25);
        var articleNode = NodeHelper.GetNodeByAlias(Constants.NodeDocumentTypes.UserArticle);
        var listNode = NodeHelper.GetNodeByAlias(Constants.NodeDocumentTypes.UserArticleList);
        var createNode = NodeHelper.GetNodeByAlias(Constants.NodeDocumentTypes.CreateUserArticle);
        var index = 0;

        if (articleNode != null && listNode != null && createNode != null)
        {
    <!-- Klasseforum START -->
    <aside class="grid-1 class-forum-box">
        <div class="heading">
            <h2>@listNode.GetNavigationName()</h2>
            <a href="@(listNode.NiceUrl)">Gå&nbsp;til&nbsp;@(listNode.GetNavigationName())</a>
        </div>

        <section class="content-box important simple opinion classforum">
            @{
                var exampleAriclesCount = 0;
                if (Request.Cookies["showexamplearticle"] == null)
                {
                    exampleAriclesCount = Model.DescendantsOrSelf("ExampleArticle").Count();
                }
            var count = userArticles.Count() + exampleAriclesCount;
            }
            @if (userArticles.Any())
            {
                foreach (var article in userArticles)
                {	  
                <article class="item">
                    @if (@userArticles.Count() > 1)
                    {
                        
                        <aside>
                            <nav class="paging">
                                <p>@(++index) af @count</p>
                                <a class="button prev" href="#prev">&larr;</a>
                                <a class="button next" href="#next">&rarr;</a>
                            </nav>
                        </aside>
                    }
                    <a class="entry" href="@(articleNode.NiceUrl + "?id=" + article.Id)">
                        <h3>@article.Title</h3>
                        <img width="400" height="300" src="@(article.HasCoverImage ? article.CoverImageForSliderSrc : "/images/ui/fallback-article-image.jpg")" alt="" />
                        <p>@Html.Raw(HttpUtility.HtmlEncode(article.Introduction.Trim('\n', '\r', ' ')).CropText(499, true, "...").Replace("\n", "<br />"))</p>
                        <p><em>Læs mere</em></p>
                    </a>
                    <nav class="entry actions"><a class="button significant" href="@(createNode.NiceUrl)">Opret nyt indlæg</a></nav>
                </article>
                }
            }
            else
            {
                <article class="item">
                    <a class="entry" href="@(createNode.NiceUrl)">
                        <h3>@listNode.GetPropertyAsString("userArticleDefaultTitle")</h3>
                        <img width="400" height="300" src="/images/ui/fallback-article-nocontent.jpg" alt="" />
                        <p>@Html.Raw(HttpUtility.HtmlEncode(listNode.GetPropertyAsString("userArticleDefaultIntroduction").Trim('\n', '\r', ' ')).Replace("\n", "<br />"))</p>
                    </a>
                    <nav class="entry actions"><a class="button significant" href="@(createNode.NiceUrl)">Opret nyt indlæg</a></nav>
                </article>
            }
            @if (Request.Cookies["showexamplearticle"] == null)
            {
            foreach (var examplearticle in Model.DescendantsOrSelf("ExampleArticle"))
            {
                <article class="item">
                    <aside>
                        <nav class="paging">
                            <p>@(++index) af @count</p>
                            <a class="button prev" href="#prev">←</a>
                            <a class="button next" href="#next">→</a>
                        </nav>
                    </aside>
                    <a class="entry" href="@examplearticle.NiceUrl">
                        <h3>@examplearticle.title</h3>
                        @if (examplearticle.imageToOverview != string.Empty)
                        {
                            var image = Library.MediaById(examplearticle.imageToOverview);
                            <img src="@image.umbracoFile" width="380" height="280" alt="@examplearticle.title" />
                        }
                        else
                        {
                            <img src="/images/ui/fallback-article-image.jpg" width="400" height="300" alt="" />
                        }
                        <p>@Library.Truncate(examplearticle.manchet,469)</p>
                        <p><em>Læs mere</em></p>
                    </a>
                    <nav class="entry actions"><a class="button significant" href="/elev/min-side/opret-artikel/">Opret nyt indlæg</a></nav>
                </article>
            }
            }
        </section>

    </aside>
    <!-- Klasseforum END -->
        }

    }
}