







/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {

}

h2 {

}

h3 {

}

.big {
font-size: 12px;
}

.cite {
	font-size:11px; display:block;
}

.citetext {
	font-size:10px; display:block;
}

