﻿@charset "utf-8";
/**
 * Print styles for @media print
 * 
 * Print styles
 *
 * @section		1.5			Print
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
html,
body,
.site-footer,
.wrapper {
	background: transparent none !important;
	max-width: none !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #000 !important;
}
p {
	/*letter-spacing: 1px !important;*/
}
.sub-nav .button,
.content-box.download,
.site-header nav,
.back {
	display: none !important;
}
/*=HEADER*/
.site-header {
	padding: 0;
}
	.site-header .logo {
		display: none;
	}
.messages{
	display: none;
}
/*=ARTICLE*/
.article {
	padding-top: 30px;
	border-top: 4px solid #ccc;
}
.entry .iframe,
.entry .media.vid,
.entry .media.aud {
	position:relative;
	margin-top:40px;
	padding-top:25px !important;
}
.entry .iframe:before,
.entry .media.vid:before,
.entry .media.aud:before {
	position:absolute;
	left:0;
	top:0; 
	display:block;
	content:"Iframe";
	text-align:center;
	width:580px;
	padding:0;

}
.entry .iframe iframe {
	float:none !important;
	display:block;
	margin:0 auto !important;
} 
.entry .iframe.youtube:before {
	content: "YouTube";
}
.entry .media.vid:before {
	content: "Video";
}
.entry .media.aud:before {
	content: "Lydklip";
}
.entry .media.vid .video-js,
.entry .media-iframe .iframe.youtube {
	padding-top:0;
}
.entry .iframe.youtube iframe {
	display:none;
}
.entry .iframe.youtube .print-fallback,
.entry .media.vid .print-fallback {
	display:block;
	position: relative;
	padding-bottom: 0;
	height: auto !important;
	background:none !important;
}
.entry .media-iframe .iframe.youtube {
	padding-bottom: 0;
	height: auto;
}
.aspects {
	display: none !important;
}

.content .grid-1,
.content .grid-2,
.content .grid-3 {
	margin: 0;
	float: none;
	width: auto;
	clear: both;
}

.entry.article > * {
	float: none !important;
	width: auto !important;
	margin-bottom: 1.33em !important;
}

.entry .media.vid,
.entry .media-iframe {
	margin-left:0;
	margin-right:0;
	width: 580px !important;
}
.entry h1 {
	font-size: 3em;
}

.entry header + h1 {
	margin-top: 0;
}

.entry > header {
	color: #000;
	background: none transparent;
	padding: 0;
}

.entry > h1 {
	font-size: 26px;
	font-weight: bold;
}

.content .entry.article > h2 {
	border-top: 2px solid #CCC;
	padding-top: 30px;
	margin-bottom: 30px;
}

.entry > header h3 {
	display: none;
}
.content .entry figure {
	position:relative;
	width:580px !important;
}
	.content .entry figure img {
		width: 580px;
		border-radius: 0;
	}
	.content .entry figure figcaption {
		right:auto;
		left:102%;
		bottom:-4px;
		top:auto;
		width:140px !important;
		text-align: left;
	}
.content .entry .content-box figure,
.content .entry .content-box figure img {
	width: 470px !important;
	margin: 0 0 1em;
}
	.content .entry .content-box figure figcaption {
		width:70px;
	}
.content .entry .content-box {
	width: 580px !important;
}
.content .entry li {
	margin-left: 20px;
	padding-left: 40px;
}

.content .entry.article > p {
	width: 580px !important;
}

	.content .entry.article > p img {
		margin: 0;
		width: 580px;
		height: auto;
	}

.entry .caption {
	right:-30% !important;
	text-align:left !important;
}
.entry .media.aud .caption {
	bottom:-20px !important;
}

.entry.article h2 {
	margin: 0.75em 0 0.4em !important;
	padding: 0;
	border: none !important;
}

	.entry.article h2:before {
		content: none;
		display: none !important;
	}

	.entry.article h2 > .before {
		display: none !important;
	}

.entry .media.vid * {
	display:none;
}
.media.vid,
.media.vid .video-js.print-fallback,
.media.vid .vjs-poster{
	display:block;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.entry .media.vid .print-fallback * {
	display:block;
}
.entry .print-fallback .vjs-poster {
	height: auto;
	max-height: none;
	width: 100%;
	display: block;
	margin: 0 auto;
	z-index: 1;
}
.media.vid .caption {
	display:block;
}
.media.aud * {
	display:none;
}
.media,
figure,
p,
.slideshow li {
	page-break-inside: avoid;
}
.media.aud {
	height:28px;
}
.media.aud .caption {
	display:block;
}
.media.aud {
	width:580px !important;
	margin-left:0;
}
.media.aud .print-image {
	width:580px !important;
	display:block !important;
	float:left !important;
}
.media.aud:after,
.media.vid:after  {
content: "\0020";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.article + aside.grid-1,
.entry > footer,
.media.aud .sm-ui,
.slideshow .paging {
	display: none;
}

.slideshow li > .entry {
	background: #fff;
	color: #000;
}
/*=CONTENT BOX*/
.content-box {
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ccc;
}
	.content-box .entry {
		color: #000;
	}
	.content-box.links li {
		float: none;
		width: auto;
		margin: 0 0 1em;
	}
	.content-box.assignment {
		height: auto !important;
	}
		.content-box.assignment .shade,
		.content-box.assignment .show {
			display: none !important;
		}
/*=FOOTER*/
.site-footer h6 {
	width: auto;
	height: auto;
	text-indent: 0;
	white-space: normal;
	background: none;
	margin: 0 5px 0 0;
	display: inline;
	float: none;
}

.tl-canvas.enhanced .tl-item .tl-jsclose, .tl-canvas.enhanced .tl-item .tl-jslabel{
	display: none;
}
/*=SUB NAV*/
.banner.cut + .sub-nav,
.sub-nav {
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent none;
	color: #000;
	margin: 1em 0 !important;
	padding: 0 !important;
}

	.sub-nav .breadcrumb {
		margin: 0;
		display: none;
	}

		.sub-nav .breadcrumb li {
			background: transparent none;
		}

		.sub-nav .breadcrumb a {
			color: #f57f33;
			text-shadow: none;
		}

.site-header .sub-nav a[href]:after {
	/*content: " (" attr(href) ") ";*/
	font-size: 90%;
}
/*=BANNER*/
.banner,
.banner .wrapper,
.banner .box {
	background: #fff;
	margin: 0 !important;
	padding: 0 !important;
	min-height: 0;
	position: relative;
	top: auto;
}

	.banner .media,
	.banner .die {
		display: none !important;
	}

.banner {
	margin: 1em 0 !important;
}

	.banner > img {
		display: none;
	}

	.banner .box {
		background: none transparent;
	}

		.banner .box h2,
		.banner .box h6 {
			width: auto;
			color: #000;
			position: static;
		}

		.banner .box h2 {
			position: absolute;
			top: 0;
			right: 0;
		}

		.banner .box h6 {
			display: none;
		}
		/*=FONTS*/
		.entry > header h3,
		.entry h1,
		.heading h1,
		.heading h2,
		.heading h3,
		.heading h4,
		.heading h5,
		.heading h6,
		.content-box .entry > h3,
		.content-box .entry > h4,
		.banner .box h2,
		.banner .box h6 {
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		}

.entry a[href]:after {
	/*content: " (" attr(href) ") ";*/
	font-size: 90%;
}

.entry a.button:after,
.entry a.print:after {
	display: none;
}

.print {
	display: none;
}


.slideshow {
	min-height:300px;
	overflow:hidden;
	float:none;
	display:block;
	border: 1px solid transparent;
	height:auto;
}
.slideshow.enhanced ul li .entry small {
	display:none;
}

.article .slideshow.enhanced:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.article .slideshow.enhanced ul {
	width: auto;
}

.article .slideshow.enhanced li {
	display: none;
	margin: 0;
	padding: 0;
}


	.article .slideshow.enhanced li.active {
		display: block;
		box-shadow: none;
		background: none;
		width: 580px;
		border-radius: 0;
		overflow: visible;
	}

	.article .slideshow.enhanced li img {
		width: 580px;
		border-radius: 0;
	}

	.article .slideshow.enhanced li .entry {
		-moz-transition: none;
		transition: none;
		width: 140px;
		border-radius: 0;
		position: absolute;
		top:auto;
		bottom:-1.333333333333333em;
		left:102%;
		right:auto;
		overflow: visible;
		padding: 0;
	}

		.article .slideshow.enhanced li .entry p,
		.article .slideshow.enhanced li .entry h5 {
			font-weight: normal;
			line-height: 1.5em;
			font-size: 10px;
			text-transform: none;
		}

		.article .slideshow.enhanced li .entry h5 {
			margin-bottom: 10px;
		}

.content .slideshow.enhanced li .entry .arrow {
	display: none;
}

.heading {
	border: none;
	padding-top: 80px;
	border-top: 1px solid #ccc;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

	.heading h1 {
		font-size: 26px;
		font-weight: bold;
		text-transform: none;
	}

	.heading + .article {
		border-top: none;
	}


.content .content-box .entry > h3, .content .content-box .entry > h4 {
	background: none;
	-webkit-border-radius:0;
	border-radius:0;
}

.print-only {
	display:block;
}

.site-header header .print-logo{
	float:left;
}
.site-header header .print-titles{
	float:right;
}
.site-header header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.site-header header img {
	width:251px;
	height:90px;
}
.site-header header h2 {
	font-size:14px;
	text-transform:uppercase;
	text-align:right;
}
.site-header header h3 {
	font-size:12px;
	text-align:right;
}

.comment-list {
	display:none;
}