﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/StudentMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="cphBody" runat="server">
	<profiler:Macro Alias="Angle" runat="server" />
</asp:content>