﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/TeacherMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="cphBody" runat="server">
  <profiler:Macro Alias="ClassPollForm" runat="server" />
</asp:content>