﻿<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
	<profiler:Macro Alias="RequiresLogin" runat="server" />
	<profiler:Macro Alias="HandleLogin" runat="server" />
</asp:Content>
