﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/Textpage.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="cphBody" runat="server">
	<profiler:Macro Alias="NewsItem" runat="server" />
</asp:content>