﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/Homepage.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="cphBody" runat="server">
  <profiler:Macro RequiredUserAccess="StudentOrTeacher" Alias="RequiresLogin" runat="server" />
  <profiler:Macro RequiredUserAccess="Student" Alias="RequiresLogin" runat="server" />

  <asp:ContentPlaceHolder id="cphBody" runat="server">  
    <div class="content wrapper" role="main">
      <div class="grid-2">
        
        <profiler:Macro Alias="AllTopicsDropdown" runat="server" />
  
        <div class="subject-list">
          
          <profiler:Macro Alias="AllTopics" runat="server" />
  
          <profiler:Macro Alias="PerspectiveDetails" runat="server" />

        </div>
      </div>
        <div>
      <umbraco:Macro runat="server" FileLocation="~/macroScripts/structure/UserArticleSlider.cshtml" />
      <aside class="grid-1 news-right">
        <profiler:Macro Alias="News" runat="server" />
      </aside>
            </div>

    </div>
  </asp:ContentPlaceHolder>
</asp:Content>