﻿
.banner {
	overflow:hidden;
	position:relative;
	min-height:300px;
	background:#333;
}
body>.banner,
body>form>.banner {
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
}
.banner>img {
	display:block;
	background:#333;
	position:absolute;
	top:0;
	right:0;
	left:0;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
}
.banner .wrapper {
	position:relative;
	z-index:3;
	min-height:300px;
}
.banner .media {
	margin:0 auto;
	padding:30px 0;
}
.banner .media .video-js,
.banner .media .video-js img,
.banner .media .video-js video,
.banner .media .info,
.banner .media .info .item {
		-o-border-radius:5px;
		-ms-border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	border-radius:5px;
}
.banner .media.has-chapters .video-js,
.banner .media.has-chapters .video-js img,
.banner .media.has-chapters .video-js video,
.banner .media.has-chapters .info,
.banner .media.has-chapters .info .item,
.banner .media.has-chapters .info-nav {
		-o-border-radius:5px 5px 0 0;
		-ms-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.banner .media .chapters,
.banner .media .video-js .vjs-controls {
		-o-border-radius:0 0 5px 5px;
		-ms-border-radius:0 0 5px 5px;
		-moz-border-radius:0 0 5px 5px;
		-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.banner .media .video-js {
		-o-box-shadow:0 0 10px rgba(0,0,0,0.5);
		-ms-box-shadow:0 0 10px rgba(0,0,0,0.5);
		-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
		-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
	box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.banner .media.vid .video-js {
	margin:0 auto;
	position:relative;
}
.banner .media .box + .video-js .vjs-big-play-button,
.banner .media .box + .video-js .vjs-big-play-button:hover {
	z-index:2000;
	margin-left:80px;
}
.banner .media.vid .box {
	//JPL: Changed by bug request 26/2-2013
	//left:50%;
	//margin-left:-205px;
	//margin-left:-20.5rem;
}
.banner .media.vid.enhanced .box {
	cursor:pointer;
}
.banner .box {
	background:url(../images/ui/banner-box-back.png) 0 0 repeat;
	padding:20px;
	padding:2rem;
	position:absolute;
	left:0;
	top:50%;
	z-index:3;
	color:#fff;
	font-size:14px;
	font-size:1.4rem;
	margin-top:-64px;
	margin-top:-6.4rem;
}
.banner .box h2,
.banner .box h6 { 
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal;
	font-size:25px;
	font-size:2.5rem;
	line-height:1.25em;
	text-shadow:0 1px rgba(0,0,0,0.125);
	max-width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:370px;
	width:37rem;
}
.banner .box h2 {
	text-transform:uppercase;
	line-height:1em;
	padding-top:0.2em;
	font-size:57px;
	font-size:5.7rem;
}
.banner.small {
	min-height:150px;
}
.banner.small .wrapper {
	min-height:100px;
}
.banner.cut {
	padding-bottom:36px;
}
.banner.cut + .sub-nav {
	margin-top:-36px;
	position:relative;
	z-index:30;
	background:transparent url(../images/ui/subnav-gradient-diecut.png) center center repeat-x;
}
.banner.cut .die {
	display:block;
	width:82px;
	height:60px;
	padding-top:22px;
	font-weight:normal;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	background:url(../images/ui/banner-die-cut.png) center 0 no-repeat;
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:20px;
	font-size:2rem;
	color:#fff;
	text-shadow:0 1px rgba(0,0,0,0.5);
	text-transform:uppercase;
	text-align:center;
	position:absolute;
	bottom:-30px;
	left:50%;
	margin-left:-41px;
	cursor:pointer;
	z-index:50;
		-o-transition:padding 0.2s ease-out;
		-ms-transition:padding 0.2s ease-out;
		-moz-transition:padding 0.2s ease-out;
		-webkit-transition:padding 0.2s ease-out;
	transition:padding 0.2s ease-out;
}
.banner.cut .die.active {
	background-position:center -102px;
}
.no-js .banner.cut .die {
	display:none;
}
.banner.cut .media.vid.hidden {
	position:absolute;
	visibility:hidden;
	left:-999px;
}
.banner.cut .media.vid {
	padding-bottom:90px;
}
.banner.cut .die:hover {
	padding-bottom:20px;
}


/* Carousel
------------------------------------------------------ */
.scrollable .panel-nav 			{	display:none;}
.has-paging .panel-nav 			{	display:block;}
.has-readmore .panel .read-more {	display:block !important;}
.scrollable .prev, 
.scrollable .next 				{	display:none;}
.has-prevnext .prev, 
.has-prevnext .next 			{	display:block;}
.scrollable .panel-nav .disabled {	display:none}
.scrollable .textcontent 		{ padding:15px 35px; }
.scrollable-horizontal			{ position:relative; overflow:hidden; height:280px; border-radius:5px; background:transparent; border:1px solid; border-color:#e7e7e6 #e9f0f0;}
.scrollable-horizontal .panels-container { position:relative; overflow:hidden; height:280px; }
.scrollable-horizontal .panels-head { position:relative; z-index:1; margin:15px 30px 0 30px;}
.scrollable-horizontal .panels 	{ 	width:20000em; position:absolute; top: 0; left: 0;clear:both; margin:0;}
.scrollable-horizontal .panel 	{	margin:0; padding:0; min-height:280px;  float:left; display:block; width:auto; position:relative; overflow:hidden;}
.scrollable-horizontal .panel 	a	{ 	cursor:pointer;}
.scrollable-horizontal .panel 	a:hover,
.scrollable-horizontal .panel 	a:hover *		{ 	*text-decoration:none;}
.scrollable-horizontal .panel-nav .next,
.scrollable-horizontal .panel-nav .prev	{ background:transparent url('img/slider_nav.png') no-repeat; }	
.scrollable-horizontal .panel-nav .next	{ background-position:-16px 0; border:none; width:15px; height:23px; cursor:pointer; position:absolute; right:10px; top:-103px;}
.scrollable-horizontal .panel-nav .prev	{ border:none; width:15px; height:23px; cursor:pointer; position:absolute; left:10px; top:-103px;}
.scrollable-horizontal .panel-nav  { position:absolute; width:100%; bottom:12px; z-index:99;}
.scrollable-horizontal .panel-nav .panel-count { text-align:center;}
.scrollable-horizontal .panel-nav .panel-count a { cursor:pointer; margin:0 2px; padding:0 5px; background:transparent url('img/slider_bullet.png') no-repeat -14px 0;}
.scrollable-horizontal .panel-nav .panel-count a:hover,
.scrollable-horizontal .panel-nav .panel-count a.current 	{ background-position:0 0; }

.frontpage-scrollable { height:355px; border-radius:0; border:none; margin-left: -10px; margin-right: -10px;}
.frontpage-scrollable .panels-container { height:355px; }
.frontpage-scrollable .panel 	{ min-height:0;}
.frontpage-scrollable .panel .textcontent 	{ background: #FFF;height: 310px; margin-left: 16px;}
.frontpage-scrollable .panel img 	{ display:block; height: 355px; width: 100%; position: absolute; top: 0; left: 0;}
.frontpage-scrollable .panel-nav { background:#48B9CA; width:auto; top:0; bottom:auto; right:0; line-height:30px; height:30px; padding:0 4px 0 8px;}
.frontpage-scrollable .panel-nav .panel-count { margin-top:3px; display:inline-block; height:27px;}
.frontpage-scrollable .panel-nav .next,
.frontpage-scrollable .panel-nav .prev	{ background:transparent url('img/slider_nav_white.png') no-repeat; display:inline-block; position:static; width:9px; padding:0; vertical-align:middle; height:18px; }	
.frontpage-scrollable .panel-nav .next { background-position:-23px 0;}
.frontpage-scrollable .panel-nav .panel-count a { background-image:url('img/slider_bullet_white.png');}
.frontpage-scrollable .wrapper {min-height: 300px; position: relative;}

.frontpage-scrollable .box {
	background:url(../images/ui/banner-box-back.png) 0 0 repeat;
	padding:20px;
	padding:2rem;
	position:absolute;
	left:0;
	top:50%;
	z-index:3;
	color:#fff;
	font-size:14px;
	font-size:1.4rem;
	margin-top:-64px;
	margin-top:-6.4rem;
}
.frontpage-scrollable .box.orange {
	background:url(../images/ui/banner-box-orange-back.png) 0 0 repeat;
}
.frontpage-scrollable .box h2,
.frontpage-scrollable .box h6 { 
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal;
	font-size:25px;
	font-size:2.5rem;
	line-height:1.25em;
	text-shadow:0 1px rgba(0,0,0,0.125);
	max-width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:370px;
	width:37rem;
}
.frontpage-scrollable .box h2 {
	text-transform:uppercase;
	line-height:1em;
	padding-top:0.2em;
	font-size:57px;
	font-size:5.7rem;
}