﻿
.common-frontpage .button {
	color:#333;
}
.button {
	display:block;
	border:none;
	cursor:pointer;
	width:100px;
	padding:0 15px 0 12px;
	height:28px;
	line-height:28px;
	height:2.8rem;
	line-height:2.8rem;
	color:#333;
	max-width:280px;
	background:#fff;
	font-size:12px;
	font-size:1.2rem;
	white-space: nowrap;
	overflow:hidden;
	text-align:center;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	border-radius:3px;
		-o-box-shadow:0 1px 0 rgba(0,0,0,0.125);
		-ms-box-shadow:0 1px 0 rgba(0,0,0,0.125);
		-moz-box-shadow:0 1px 0 rgba(0,0,0,0.125);
		-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.125);
	box-shadow:0 1px 0 rgba(0,0,0,0.125);
	position:relative;
		-o-transition:box-shadow 0.2s ease-out, color 0.2s ease-out;
		-ms-transition:box-shadow 0.2s ease-out, color 0.2s ease-out;
		-moz-transition:box-shadow 0.2s ease-out, color 0.2s ease-out;
		-webkit-transition:box-shadow 0.2s ease-out, color 0.2s ease-out;
	transition:box-shadow 0.2s ease-out, color 0.2s ease-out;
	overflow:hidden;
	font-weight:bold;
	text-decoration:none !important;
}
.button:focus,
.button:hover {
		-o-box-shadow:0 2px 3px rgba(0,0,0,0.125);
		-ms-box-shadow:0 2px 3px rgba(0,0,0,0.125);
		-moz-box-shadow:0 2px 3px rgba(0,0,0,0.125);
		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.125);
	box-shadow:0 2px 3px rgba(0,0,0,0.125);
	color:#990000;
}
.button:active {
		-o-box-shadow:0 -1px 0 rgba(0,0,0,0.125);
		-ms-box-shadow:0 -1px 0 rgba(0,0,0,0.125);
		-moz-box-shadow:0 -1px 0 rgba(0,0,0,0.125);
		-webkit-box-shadow:0 -1px 0 rgba(0,0,0,0.125);
	box-shadow:0 -1px 0 rgba(0,0,0,0.125);
}
.button .icon,
.button .notification {
	display:block;
	float:left;
	font-weight:bold;
	border-right:1px solid #eee;
	margin:0 0 0 -12px;
	padding:0 10px;
		-o-border-radius:3px 0 0 3px;
		-ms-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	height:28px;
	height:2.8rem;
	margin-right:10px;
}
.button .notification.new {
	color:#fff;
	background:url(../images/ui/button-gold-gradient.png) 0 0 repeat-x;
}
.button .icon {
	background:url(../images/ui/icons.png) -140px 0 no-repeat;
	padding:0;
	width:28px;
}
.button.significant.orange {
	background:url(../images/ui/button-orange-gradient.png) 0 0 repeat-x;
}
.button.significant {
	color:#fff;
	background:url(../images/ui/button-gold-gradient.png) 0 0 repeat-x;
	text-shadow:0 1px rgba(0,0,0,0.125);
}
.button.disabled {
	text-decoration:line-through !important;
	cursor:default;
}
.button.significant:hover,
.button.significant:focus {
	background-position:0 -56px;
}
.button.significant:active {
	background-position:0 -28px;
}
.button.significant .icon {
	background-position:-112px 0;
	border-right:1px solid #9e815f;
	position:relative;
}
.button.significant .icon.image {
	background-position:0 0;
}
.button.significant .icon.gear {
	background-position:-56px 0;
}
.button.significant .icon.profile {
	background-position:-169px 0;
}
.button.significant .icon.list {
	background-position:-196px 0;
}
.button.significant .icon:after {
	content:".";
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	position:absolute;
	top:0;
	right:-1px;
	bottom:0;
	width:2px;
	background:url(../images/ui/button-gold-icon-seperator.png) 0 0 repeat-y;
}
.button.discreet {
	background:url(../images/ui/button-discreet-back.png) 0 0 repeat-x;
	border:1px solid #cbcbcb;
	height:26px;
	line-height:26px;
	height:2.6rem;
	line-height:2.6rem;
	box-shadow:none;
}
.button.discreet:hover {
	background-position:0 -56px;
}
.button.discreet:active,
.button.discreet:focus {
	background-position:0 -28px;
}
.button.prev,
.button.next {
	border:1px solid #cbcbcb;
	height:26px;
	line-height:26px;
	height:2.6rem;
	line-height:2.6rem;
	box-shadow:none;
	width:30px;
	padding:0;
	text-indent:100%;
	white-space:nowrap;
	background-image:url(../images/ui/button-pre-next-sprite.png);
	padding:0;
}
.button.next {
	background-position:-30px 0;
		-o-border-radius:0 3px 3px 0;
		-ms-border-radius:0 3px 3px 0;
		-moz-border-radius:0 3px 3px 0;
		-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.button.next:hover {
	background-position:-30px -56px;
}
.button.next:active,
.button.next:focus {
	background-position:-30px -28px;
}
.button.prev {
	background-position:0 0;
		-o-border-radius:3px 0 0 3px;
		-ms-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.button.prev:hover {
	background-position:left -56px;
}
.button.prev:active,
.button.prev:focus {
	background-position:left -28px;
}
.button.prev + .button.next {
	border-left:none;
}


.button.up,
.button.down {
	border:1px solid #cbcbcb;
	height:26px;
	line-height:26px;
	height:2.6rem;
	line-height:2.6rem;
	box-shadow:none;
	width:30px;
	padding:0;
	text-indent:100%;
	white-space:nowrap;
	background-image:url(../images/ui/button-up-down-sprite.png);
	padding:0;
}
.button.down {
	background-position:-30px 0;
		-o-border-radius:3px 0 0 3px;
		-ms-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.button.down:hover {
	background-position:-30px -56px;
}
.button.down:active,
.button.down:focus {
	background-position:-30px -28px;
}
.button.up {
	background-position:0 0;
		-o-border-radius:0 3px 3px 0;
		-ms-border-radius:0 3px 3px 0;
		-moz-border-radius:0 3px 3px 0;
		-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.button.up:hover {
	background-position:left -57px;
}
.button.up:active,
.button.up:focus {
	background-position:left -28px;
}
.button.down + .button.up {
	border-left:none;
}
