
@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/League_Gothic-webfont.eot');
	src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/League_Gothic-webfont.woff') format('woff'),
	url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
	url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
