
/* HEADER */

.site-header {
	padding:20px 0 10px;
	font-size:1.2em;
	position:relative;
	z-index:200;
}
.site-header:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.site-header .logo {
	float:left;
	margin-left:0px;
}
.site-header nav {
	float:right;
	height:28px;
	padding:10px 0;
	line-height:28px;
	clear: right;
}
.ie8 .site-header nav>.custom-dropdown>div {
	height: 28px;

	>a {
		height: 21px;
		line-height: 21px;
	}
}
.site-header nav>.custom-dropdown,
.site-header nav>select,
.site-header nav>p,
.site-header nav>a,
.site-header nav>div,
.site-header nav>label {
	float:left;
	color:#727272;
	line-height:28px;
	margin-left:15px;
	width:auto;
}
.site-header nav>.custom-dropdown,
.site-header nav>select {
	width:85px;
}
button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active {

}
.site-header nav>.custom-dropdown .button-holder {
	padding: 2px;

	.button {
		display: block;
		width: 100%;
		color:#FFF;
	}
}
.site-header nav>p em {
	font-weight:bold;
	font-style:italic;
	color:#cc5308;
}
.site-header .button {
	width:auto;
	color:#333;
}
.site-header nav .button:focus {
	color:#333;
	}
.site-header .button:focus,
.site-header .butto:hover {
	color:#FFF;
}

.site-header .button.partial-left {
		-o-border-radius:3px 0 0 3px;
		-ms-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	margin:0;
	margin-right:3px;

}
.site-header .button.partial-right {
		-o-border-radius:0 3px 3px 0;
		-ms-border-radius:0 3px 3px 0;
		-moz-border-radius:0 3px 3px 0;
		-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;	
	margin-left:0;
}

.site-header .topbar-userinfo{
	float: right;
	margin-top: -15px;
	font-size: 1.2rem;
}

/**
 * Logotype styles
 * 
 * Logo
 *
 * @section		2.0			Header
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.logo {
	margin:-20px 0 -10px;
}
.common-frontpage .logo, .logo em,
.logo h3 {
background:url(../images/ui/logo-common.png) 0 0 no-repeat !important;
}
.logo,
.logo em,
.logo h3 {
	width:251px;
	height:90px;
	display:block;
	text-indent:100%; 
	white-space:nowrap; 
	overflow:hidden;
	background:url(../images/ui/logo.png) 0 0 no-repeat;
	position:relative;
}

.logo.teacher,
.logo.teacher em,
.logo.teacher h3 {
	background:url(../images/ui/logo-teacher.png) 0 0 no-repeat;
}
.opacity .logo em,
.opacity .logo h3 {
	top:0;
}
.logo:hover em,
.logo:focus em,
.logo:active h3 {
	top:0;
	opacity:1;
}
/*=SEARCH FORM*/
.search-form {
	position:relative;
}
.search-form input[type="text"] {
	background:#fff;
	border:1px solid #ccc;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	border-radius:3px;
	line-height:14px;
	height:14px;
	padding:7px 30px 7px 5px;
	width:auto;
}
.search-form input[type="submit"] {
	position:absolute;
	height:26px;
	right:0;
	top:50%;
	margin-top:-13px;
	width:30px;
	background:transparent url(../images/ui/search-form-icon.png) top center no-repeat;
	border:none;
	text-indent:120%;
	overflow:hidden;
	white-space:nowrap;
	text-transform:uppercase;
	cursor:pointer;
}
.search-form input[type="submit"]:hover {
	background-position:center center;
}
.search-form input[type="submit"]:active,
.search-form input[type="submit"]:focus {
	background-position:bottom center;
}
.search-form .keywords {
	position:absolute;
	top:100%;
	left:0;
	right:0;
	margin-top:2px;
	background:#fff;
	border:1px solid #ccc;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px;
	z-index:10;
	color:#222;
}
.search-form .keywords li {
	font-size:1em;
	line-height:1.8em;
	padding:0 10px;
	cursor:pointer;
		-o-transition:all 0.2s ease-out;
		-ms-transition:all 0.2s ease-out;
		-moz-transition:all 0.2s ease-out;
		-webkit-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
.search-form .keywords li.active {
	background:#e9e9e9;
	color:#cc5308;
}

/**************************************/

/* FOOTER */

.site-footer {
	line-height:34px;
	font-size:12px;
	font-size:1.2rem;
	overflow:hidden;
	padding:30px 0;
	clear:both;
	color:#fff;
	background:#333;
}
body>.site-footer {
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
}
.site-footer em {
	font-weight:bold;
}
.site-footer a {
	display:block;
	float:left;
}
.site-footer h6 {
	width:72px;
	height:38px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url(../images/ui/footer-alinea-logo.png) 0 0 no-repeat;
	float:left;
	margin:0 20px 0 0;
}

.footer-link {
	background-color:#fff; 
}

/**************************************/

/* ARTICLE */

.content .grid-1.news-right {
	float: right;
	clear: right;
}

.news header {
	height: auto;
	background: transparent url(../images/ui/black-opacity-10.png);
	background: rgba(0,0,0,0.1) none;
	color: #393838;
	line-height: inherit;
	overflow:hidden;
	padding:40px 0 30px;
	margin:-40px 0 40px;
}
body>.news>header,
body>form>.news>header {
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	padding-right:10px;
}
#fancybox-content .news header {
	background: transparent none;
	padding:0;
}
.news header a {
	background: url('../images/ui/icon-print-darker.png') right center no-repeat;
	color: #8d8d8d;
  float:right;
	font-size:12px;
	font-size:1.2rem;
	text-decoration:none;
	padding-right:25px;
}
.news header a:hover {
  text-decoration:underline;
}
.news header h1 {
	margin: 0;
	//JPL: Removed 226/8-2013 by request
	//line-height: 1em;
	font-weight: normal;
}
.news header h6 {
	font-size: 0.666667em;
	margin-bottom: 10px;
	font-weight: normal;
}
.news .article h2:first-child {
	padding: 0;
}
.news .article h2:first-child:before {
	display: none;
}
.news-listing h2 {
	font-size: 3.6em;
	font-family: "League Gothic";
	color: #FFF;
	background: transparent url(../images/ui/black-opacity-80.png) 0 0 repeat;
	background: rgba(30,30,30,0.8) none;
	font-weight: normal;
	padding: 10px 20px;
	position: absolute;
	bottom:0;
	left: 0;
	width: 260px;
	margin: 0;
	border-radius: 3px 0 0 0;

	overflow: hidden;
	text-overflow: ellipsis;
}
.news-listing .content-box .entry {
	font-size: 1.5em;
	margin-bottom: 20px;
	overflow: hidden;
}
.news-listing .content-box figure {
	float: left;
}
.news-listing .content-box figure img {
	display: block;
	width: 340px;
	background: #ccc;
}
.news-listing .entry h6 {
	font-size: 0.8em;
	color: #6c7072;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 15px;
}
.news-listing .entry a {
	font-weight: bold;
}
.news-listing .entry h5 {
	font-style: italic;
	font-weight: normal;
	padding-top: 20px;
}
.news-listing .heading {
	.button {
		position: absolute;
		bottom: 1.1em;
		right:0;
	}
}
.news-listing .heading .save-create-wrapper .button{
	position: static;
	float: left;
	margin-left: 15px;
}
.save-create-wrapper{
	position: absolute;
		bottom: 1.1em;
		right:0;
}

.article-create {
	.icon-info {
		display: inline-block;
		margin-left: 5px;
		height:14px;
		width:14px;

		background: url('../images/ui/info-bubble.png') no-repeat top left;
	}
	.is-open .icon-info {
		background-position: bottom left;
	}

	> a,
	> label,
	> input[type=text],
	> input[type=file],
	> textarea {
		float: right;
		width: 75%;
	}
	label {
		display: block;
		margin: 2em 0 .5em 0;
		font-weight: bold;
	}

	input[type=file] {
		margin: 1em 0;
	}
	input[type=text],
	textarea {
		padding: 5px 10px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;

		border:none;

		-webkit-border-radius:3px;
		   -moz-border-radius:3px;
		    -ms-border-radius:3px;
		     -o-border-radius:3px;
		        border-radius:3px;
		
		-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
		   -moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
		    -ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
		     -o-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
		        box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
	}

	
	textarea {
		min-height: 150px;		
	}

	.placeholder-wrapper {
		float:right;
		width:75%;
	}

	.placeholder-wrapper.indent label {
		top:3px;
		left:8px;
	}
	.authorlist {
		display: none;
		list-style-type: none;
		overflow: hidden;
		li {
			float: left;

			margin:0;
			padding:0;

			width:49%;
		}
		label {
			margin:0 0 .2em;
			background:url(../images/ui/content-box-checkbox.png) 0 1px no-repeat;
			padding-left:22px;
			display:block;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		label.checked {
			background-position:0 -199px;
		}
		input[disabled] + label {
			background-position:0 -399px;
			cursor:default;
		}
		label.disabled {
			background-position:0 -399px;
			cursor:default;
		}
		input[disabled] + label.checked {
			background-position:0 -599px;
		}
		label.checked.disabled {
			background-position:0 -599px;
		}
		li input {
			position:absolute;
			left:-40000px;
		}
	}
	.subjectlist {
		display: none;
		list-style-type: none;
		overflow: hidden;
		li {
			float: left;

			margin:0;
			padding:0;

			width:49%;
		}
		label {
			margin:0 0 .2em;
			background:url(../images/ui/content-box-checkbox.png) 0 1px no-repeat;
			padding-left:22px;
			display:block;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		label.checked {
			background-position:0 -199px;
		}
		input[disabled] + label {
			background-position:0 -399px;
			cursor:default;
		}
		label.disabled {
			background-position:0 -399px;
			cursor:default;
		}
		input[disabled] + label.checked {
			background-position:0 -599px;
		}
		label.checked.disabled {
			background-position:0 -599px;
		}
		li input {
			position:absolute;
			left:-40000px;
		}
	}

	.helptext {
		display: none;
	}
	.sort-container {
		position: relative;
		float:right;

		width:75%;

		.placeholder-wrapper {
			float:none;
			width:100%;
		}
		
		> a,
		> label,
		> input[type=text],
		> input[type=file],
		> textarea {
			width: 99%;
		}

		nav {
			position:absolute;
			top: 2em;
			right: 103%;
			width: 65px;
			
			.button {
				float:right;
			}
		}
	}
}

.placeholder-wrapper {
	position:relative;
	margin-bottom:10px;
}
.placeholder-wrapper label{
	position:absolute;
	margin:0;
	top:3px;
	left:8px;	
	width: 100%;
	z-index:11;
}
.placeholder-wrapper input{
	border: 1px solid #CCC;
	width: 100%;
	z-index:9;
}

.placeholder-wrapper.indent label {
	top:10px;
	left:20px;
}

.placeholder-wrapper textarea {
	width:100%;
}


.class-articles {
	.content-box {
		position: relative;
		overflow: visible;
		border:1px solid #fff;

		&.unread:before {
			content: "NY";

			position: absolute;
			top:-9px;
			right:13px;

			padding-left:9px;
			width:34px;
			height:43px;

			color: #fff;
			font-size: 12px;
			line-height: 55px;
			font-weight: bold;

			background: url('../images/ui/badge-new-article.png') no-repeat 0 0;
		}
	}
	.content-box .article-nav {
		position: absolute;
		right: 20px;
		bottom: 50px;

		.button {
			display: inline-block;
		}
	}
	.content-box .entry {
		padding-left: 0;
	}
	.content-box .article-header {
		margin-right: 20px;
		margin-bottom: 0;
		padding: 0;
		height:50px;

		line-height: 50px;

		border-bottom: 1px solid #c0c0c0;

		.author-header {
			font-size:.7em;
			font-weight: bold;
			color: #9f885a;
			text-transform: uppercase;
			display: inline-block;
			width: 100px;
		}
		.subjects-wrapper{
			margin-top: -25px;
		}
		.subject-header {
			font-size:.7em;
			font-weight: bold;
			color: #9f885a;
			text-transform: uppercase;
			display: inline-block;
			width: 100px;
		}
	}

	.content-box .subjectsadd .article-header {
			height: 70px;
		}
	.content-box .subjectsadd .article-content {
			height: 88px;
		}
	.content-box .article-container {
		overflow: hidden;
		position: relative;
		padding-left: 20px;
		height: 280px;
	}
	.content-box figure img {
		width: 380px;
	}
	.content-box .article-content {
		margin: 0;
		height: 108px;
	}
	.content-box .article-footer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		
		margin: 0;
		padding: 10px 20px;

		font-size: 1.3em;

		background: #e9e9e9;
		border-left: 1px solid #fff;

		.debate-link {
			padding-right: 17px;
			border-right:1px solid #c1c1c1;
		}
		.teacherfeedback-link {
			position: absolute;
			right: 20px;

			padding-right: 20px;

			background: url('../images/ui/icon-messagebox.png') no-repeat right 3px;

			color: #990000;
		}
		.pub-date {
			padding-left: 17px;
			border-left:1px solid #f9f9f9;
		}

	}
	.content-box.unpublished .article-footer {
		color: #fff;
		background: #990000;
	}
	.content-box .article-footer a {
		font-weight: normal;
		color: #000;

		mark {
			color:#990000;
			background: none;
		}
	}
}

.ie8 .class-articles {
	.content-box .article-footer {
		height: 20px;
	}
}

@media only screen and (max-width: 860px) {
	.class-articles {
		.content-box figure {
			overflow: hidden;
			width: 300px;

			img {
				margin-left: -40px;
			}
		}
	}
}

/**************************************/

/* SEARCH */

.search-result > .entry li {
    list-style: none;
    margin:4em 0 0;
}
.search-result .entry h4 {
    font-size: 1em;
    font-family: Arial, Sans-Serif;
    color: #484848;
    font-weight: bold;
    padding: 0;
    margin: 20px 0 0;
    padding-left: 34.355828220858897%;
}
.search-result h4 span {
    font-weight: normal;
    color: #cc5308;
}
.search-result h2 {
    font-size: 1.866666667em;
    font-family: "League Gothic";
    color: #484848;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: 33.333333333%;
    float: left;
}
.search-result h2 span {
	display:block;
	font-weight:normal; 
	font-size:0.55em; 
	font-family:Arial,'Helvetica Neue',Helvetica,sans-serif; 
	color:#424242;
}
.search-result h5 {
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #6c7072;
    font-style: italic;
    font-weight: normal;
    padding-left: 34.355828220858897%;
}
.search-result .search.entry {
    margin-bottom: 50px
}
.search-result a {
    font-weight: bold;
}
.search-result .search.entry div div {
    float: right;
    width: 65.6441717791411%;
}
.search-result footer {
    border: none
}

/**************************************/

/* SUBJECT */

.subject > ul {
	margin: 0 -2.3364485981308411214953271028037%;
	overflow: hidden;
}
.subject > ul > li:nth-child(odd) {
	clear: left
}
.subject > ul > li.nth-child-odd {
	clear: left
}
.subject > ul > li {
	float: left;
	margin: 0 2.232142857142857%;
	width: 45.53571428571429%;
	margin-bottom: 60px;
}
.subject .entry {
	padding:0 15px;
}
.subject .entry figure {
	margin:0 -15px 1.53333333333em;
}
.subject .entry figure img {
	border-radius: 3px 3px 0 0;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.subject .entry h2 {
	position: absolute;
	bottom: 15px;
	background: transparent url(../images/ui/black-opacity-80.png) 0 0 repeat;
	background: rgba(30,30,30,0.8) none;
	width: 69.9346405228758%;
	width: 60.130718954248349%;
	padding: 15px;
	color: #fff;
}
.subject .entry ul {
	margin: 0;
	padding: 0;
}
.subject .entry ul li {
	margin: 0 -15px;
	overflow:hidden;
	list-style: none;
	border-top: 1px solid #ddd;
	overflow:hidden;
	padding:0;
}
.subject .entry ul a {
	display:block;
	overflow:hidden;
	color:#424242;
		-o-transition:all 0.2s ease-out;
		-ms-transition:all 0.2s ease-out;
		-moz-transition:all 0.2s ease-out;
		-webkit-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
	cursor:pointer;
	background:#fff;
}
.subject .entry ul li:last-child a {
	border-radius:0 0 3px 3px;
}
.subject .entry ul a:hover,
.subject .entry ul a:focus {
	color:#990000;
	background:#eee;
}
.subject .entry ul a:active {
	color:#000;
}
.subject .entry ul h4 {
	padding:1.6em 0 1.6em 1em;
	margin:0;
	line-height:1.5em;
	font-size:0.85em;
	clear:none;
}
.subject .entry ul img {
	float: right;
	display: block;
	margin:0;
}

.subject-list ul {
	margin:20px -2.336448598130841%;
	overflow:hidden;
}
.subject-list li {
	float:left;
	margin:0 2.232142857142857% 20px;
	width:45.53571428571429%;
	position:relative;
	font-size:10px;
	font-size:1em;
		-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

/*.subject-list li:nth-child(2n+1) {
	clear:left;
}
.subject-list li.nth-child-2n-plus-1 {
	clear:left;
}
*/
.subject-list li img {
	width:100%;
	height:auto;
	min-height:150px;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	display:block;
	background:#ccc;
}
.subject-list li>div,
.subject-list li a {
	display:block;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	position:relative;
	width:100%;
}
.subject-list li a:hover {
	text-decoration:none;
}
.subject-list li hgroup {
	display:block;
	position:absolute;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	top:0;
	right:0;
	left:0;
	padding:10px 15px;
	background:url(../images/ui/black-opacity-80.png) 0 0 repeat;
	font-weight:bold;
	font-size:1.5em;
	color:#909498;
}
.subject-list li hgroup>:first-child {
	color:#fff;
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal;
	font-size:2.4em;
	line-height:1.1em;
}
.subject-list li hgroup a {
	color:#fff;
	display:block;
	border-top:1px solid #ddd;
	display:inline-block;
		-o-border-radius: 0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	border-radius: 0;
	margin-top:0.5em;
	padding-top:0.25em;
	font-weight:normal;
}
.subject-list li .subject-list-links { 
	padding:0.6em 0;
	background-color:#fff;
}
.subject-list li p {
		-o-border-radius:0 0 3px 3px;
		-ms-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	background:#fff;
	font-size:1.5em;
	line-height:1.75em;
	padding:0 1em;
	font-weight:bold;
}
.subject-list li hgroup a:hover,
.subject-list li p a:hover {
	text-decoration:underline;
}
.subject-list li nav {
	overflow:hidden;
	background-color: #8f8f8f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#6d6d6d)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8f8f8f, #6d6d6d); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #8f8f8f, #6d6d6d); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8f8f8f, #6d6d6d); /* IE10 */
	background-image:      -o-linear-gradient(top, #8f8f8f, #6d6d6d); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #8f8f8f, #6d6d6d);
		-o-border-radius:0 0 3px 3px;
		-ms-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	margin-top:1px;
}
.subject-list li nav .nav-item {
	float:left;
	width:33.333333333333333%;
	display:block; 
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	background-color: #8f8f8f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#6d6d6d)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8f8f8f, #6d6d6d); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #8f8f8f, #6d6d6d); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8f8f8f, #6d6d6d); /* IE10 */
	background-image:      -o-linear-gradient(top, #8f8f8f, #6d6d6d); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #8f8f8f, #6d6d6d);
		-o-border-radius:none;
		-ms-border-radius:none;
		-moz-border-radius:none;
		-webkit-border-radius:none;
	border-radius:none;
	line-height:1.75em;
	font-weight:bold;
}
.subject-list li nav .nav-item span {
	display:block;
	padding:0 5px;
	border-left:1px solid #f1ede8;
}
.subject-list li nav .nav-item:first-child {
		-o-border-radius:0 0 0 3px;
		-ms-border-radius:0 0 0 3px;
		-moz-border-radius:0 0 0 3px;
		-webkit-border-radius:0 0 0 3px;
	border-radius:0 0 0 3px;
}
.subject-list li nav .nav-item:first-child span {
	border:none;
}
.subject-list li nav .nav-item:last-child {
		-o-border-radius:0 0 3px 0;
		-ms-border-radius:0 0 3px 0;
		-moz-border-radius:0 0 3px 0;
		-webkit-border-radius:0 0 3px 0;
	border-radius:0 0 3px 0;
}
.subject-list li nav a {
	float:left;
	width:33.333333333333333%;
	display:block; 
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	background-color: #8f8f8f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#6d6d6d)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8f8f8f, #6d6d6d); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #8f8f8f, #6d6d6d); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8f8f8f, #6d6d6d); /* IE10 */
	background-image:      -o-linear-gradient(top, #8f8f8f, #6d6d6d); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #8f8f8f, #6d6d6d);
		-o-border-radius:none;
		-ms-border-radius:none;
		-moz-border-radius:none;
		-webkit-border-radius:none;
	border-radius:none;
	line-height:1.75em;
	font-weight:bold;
}
.subject-list li nav a span {
	display:block;
	padding:0 5px;
	border-left:1px solid #f1ede8;
}
.subject-list li nav a:first-child {
		-o-border-radius:0 0 0 3px;
		-ms-border-radius:0 0 0 3px;
		-moz-border-radius:0 0 0 3px;
		-webkit-border-radius:0 0 0 3px;
	border-radius:0 0 0 3px;
}
.subject-list li nav a:first-child span {
	border:none;
}
.subject-list li nav a:last-child {
		-o-border-radius:0 0 3px 0;
		-ms-border-radius:0 0 3px 0;
		-moz-border-radius:0 0 3px 0;
		-webkit-border-radius:0 0 3px 0;
	border-radius:0 0 3px 0;
}
.subject-list li nav a:hover {
	background-color: #727373;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#727373), to(#4b4947)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #727373, #4b4947); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #727373, #4b4947); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #727373, #4b4947); /* IE10 */
	background-image:      -o-linear-gradient(top, #727373, #4b4947); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #727373, #4b4947);
}
.subject-list li nav a:focus,
.subject-list li nav a:active,
.subject-list li nav a.active {
	background-color: #bf5f24;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bf5f24), to(#97400b)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #bf5f24, #97400b); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #bf5f24, #97400b); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #bf5f24, #97400b); /* IE10 */
	background-image:      -o-linear-gradient(top, #bf5f24, #97400b); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #bf5f24, #97400b);
}
.subject-list .short-texts article {
	background:url(../images/ui/black-opacity-90.png) 0 0 repeat;
	padding:0;
	color:#fff;
	font-size:1.2em;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	margin:0 0 1em;
	overflow-y:auto;
	overflow-x:hidden;
}
.subject-list .short-texts article div {
	padding:15px;
}
.subject-list .short-texts article h4 {
	font-size:1.25em;
	color:#cc5308;
	margin:0 0 0.5em;
	padding-right:30px;
}
.subject-list .short-texts article p {
	margin:0 0 0.5em;
}
.subject-list .short-texts article a:active {
	color:#fff;
}
.js .subject-list .short-texts article {
	position:absolute;
	visibility:hidden;
	width:47.66355140186916%;
}
.js .subject-list .short-texts article.active {
	visibility:visible;
}
.js .subject-list .short-texts article .close {
	position:absolute;
	top:15px;
	right:15px;
	background:url(../images/ui/subject-list-shorttext-close.png) 0 0 no-repeat;
	width:15px;
	height:15px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}

/**************************************/

/* METHOD */


.method-list {
	margin: 0 -1.5337423312883435582822085889571%;
	overflow: hidden;
}
.method-list .content-box {
}
.method-list .content-box>img:first-child {
	float:left;
	display:block;
		-o-border-radius:3px 0 0 3px;
		-ms-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	max-width:50%;
}
.method-list>li {
	float: left;
	margin: 0 1.488095238095238% 30px;
	width: 47.02380952380952%;
}
.method-list>li:nth-child(2n+1) {
	clear:left;
}
.method-list>li.nth-child-2n-plus-1 {
	clear:left;
}

.subheader-wrapper{
	margin-left: 20px;
	display: inline-block;
}

.example-button{
	margin-right: 20px;
}
.easy-button{
	margin-right: 20px;
}

.easy-button.current, .hard-button.current {
	border-bottom: 2px solid #990000;
}

.topicfilter-button{
	margin-right: 20px;
}

.topicfilter-button.current {
	border-bottom: 2px solid #990000;
}

.easy-method, .hard-method {
	display: none;
}

.easy-method.current, .hard-method.current {
	display: block;
}

.method-list .entry {
	overflow:hidden;
	font-size:15px;
	font-size:1.5rem;
	color:#424242;
}
.method-list .entry li {
	list-style:none;
	margin:0 0 0.75em;
}
.method-list .content-box footer {
	padding: 0;
	border: none;
	background: #FFF;
	font-size: 0.8em;
	line-height:2em;
}
.method-list .entry > footer em {
	font-style: normal;
	background: url(../images/ui/method-download-icon.png) right center no-repeat;
	padding-right: 17px;
	display: block;
	float: left;
	margin-right: 7px;
}
.method-list .entry > footer a {
	font-weight: normal;
	font-style: italic;
	color: #626262;
	float: left;
	margin-right: 0.6em;
	clear:both;
}
.method-list .entry > footer a:hover {
	color: #990000;
	text-decoration:underline;
}
.method-list .content-box .entry h3 {
	color: #6c7072;
	font-size: 2.3333333em;
	font-family: "League Gothic";
	font-weight: normal;
	border-bottom: 1px solid #cacaca;
	background:none;
	margin: 0 0 0.4em;
	padding:0;
}
.method-list .entry a {
	display: block;
	font-weight: bold;
}
.method-list > footer {
	border: none;
	float: right;
}
@media screen and (max-width:880px) {
	.method-list .content-box>img:first-child {
		max-width:33%;
			-o-border-radius:3px 0 0 0;
			-ms-border-radius:3px 0 0 0;
			-moz-border-radius:3px 0 0 0;
			-webkit-border-radius:3px 0 0 0;
		border-radius:3px 0 0 0;
	}
}

/*
.method.entry.article > figure {
	max-width: 100%;
	border: 10px solid #fff;
	width:auto;
	display:block;
	height:auto;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
	float:none;
}

.method.article figure img {
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	background: #FFF;
	min-height:100px;
	background:#ccc;
}
*/
.method.entry.article h2 {
	color: #484848;
	font-size: 2.333333em;
	font-family: "League Gothic";
	font-weight: normal;
	line-height: 1em;
}
footer.method {
	clear: both;
	width: 100%;
}
footer.method a {
   float: right
}

/**************************************/

/* BIO */


.bio .entry {
	overflow:hidden;
}
.bio figure {
	max-width: 100%;
	margin-top: 65px;
	padding: 10px;
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.figure.bio { position:relative; }
.figure.bio h3 { left:0; bottom:0; }
.bio .entry img {
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	min-height:100px;
	background:#ccc;
}
.bio .entry > footer {
	border: none
}
.bio .essentials {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cacaca;
}
.bio h3 {
	font-size: 2.1333333em;
	font-family: "League Gothic";
	color: #FFF;
	background-color:rgb(42,42,42);
	background-color: rgba(30,30,30,0.8);
	font-weight: normal;
	padding: 10px 20px 10px 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
}
.bio h2 {
	font-size: 1.93333333em;
	font-family: "League Gothic";
	color: #484848;
	font-weight: normal;
	margin: 0;
}
.bio h2 span {
   font-family: Arial,Sans-Serif;
   font-size: 0.448275862em;
   padding-left: 15px;
}
.bio h4 {
	font-size: 0.933333333333em;
	padding: 0;
	margin: 0;
}
.bio-col {
	width: 47.6635514%;
	float: left;
}
.bio-col.first {
	padding-right: 30px;
	padding-right: 4.67289719626%;
}

/**************************************/

/* ABOUT */

.about .vcard{
	margin-bottom: 20px;
}
.about .article {
	overflow:hidden;
}
.about .article{
	border-bottom: 1px solid #aaa;
}
.about footer {
	margin: 30px 0 100px 0;
}

/**************************************/

/* COMMENTS */


.teacherlist-toggle {
	&:hover {
		text-decoration: none;
	}
	&:after {
		content: "\2191"; /* ↑ */
		margin-left: 10px;
	}
	.is-closed &:after {
		content: "\2193"; /* ↓ */
	}
}
.content .grid-2.comments-wrapper {
margin-left:0;
}
.comment-list {
	
	.heading {
		margin-top:2em;
		border-bottom: none;

		h2 {
			display: block;
			padding-top: 0;
			padding-bottom: 6px;
			width:auto;

			font-size: 2.2em;

			border-bottom: 3px solid #424242;
			
			&:before {
				display: none;
			}
		}
		.teacherlist-toggle {
			float:right;
		}
	}

	.comment-item {
		overflow:hidden;
		position:relative;
		margin:0 0 20px;
		clear:both;

		background:#fff;
			-o-border-radius:3px;
			-ms-border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
		border-radius:3px;
			-o-box-shadow:0 1px 1px rgba(0,0,0,0.2);
			-ms-box-shadow:0 1px 1px rgba(0,0,0,0.2);
			-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
			-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		box-shadow:0 1px 1px rgba(0,0,0,0.2);

		.comment-header {
			padding: 5px 20px;
			border-bottom: 1px solid #c0c0c0;

			h3 {
				display: inline;

				color: #b75415;
				font-size: 12px;
				font-size: 1.2rem;
			}
			.datetime {
				margin-left: 10px;
				font-size: 11px;
				font-size: 1.1rem;
			}
		}

		.entry {
			padding: 20px 20px 40px;
		}
		.button.delete {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}

		&.is-unread {
			.comment-header {
				background: #990000;
				color:#fff;

				h3 {
					color:#fff;
				}
			}
		}
	}

	.comment-field {
		textarea {
			padding: 10px 20px;
			width: 100%;
			height: 100px;

			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;

			background:#fdfaf2;
			border:none;

			-webkit-border-radius:3px;
			   -moz-border-radius:3px;
			    -ms-border-radius:3px;
			     -o-border-radius:3px;
			        border-radius:3px;
			
			-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
			   -moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
			    -ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
			     -o-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
			        box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4);
		}
		.button {
			float: right;
		}
	}
}

/**************************************/
/* PAGINATION */
.pagination a 				{ float:none; font-weight:normal !important; color:#727272;}
.pagination li 				{ list-style: none; margin: 0; float: left; width: 20px; text-align: center;}
.pagination li.selected a   { color: #cc5308;}
/**************************************/


/* MESSAGES */


.messages {
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c2c2c2;
	background:#fff;
	width:500px;
	margin:1em auto;
	position:relative;
	padding:1px;
}
.js .messages {
	position:absolute;
	z-index:1000;
	margin-left:-250px;
	margin-left:-25em;
	left:50%;
	top:-999px;
}
.js .messages.closed {
	top:-999px !important;
	display:none;
}
.js .messages:before {
	content:".";
	text-indent:100%;
	display:block;
	overflow:hidden;
	whitespace:nowrap;
	width:9px;
	height:6px;
	background:url(../images/ui/messages-arrow.png) 0 0 no-repeat;
	position:absolute;
	top:-6px;
	left:50%;
	margin-left:-4px;
}
.js .messages article {
	position:absolute;
	top:-9999px;
}
.js .messages article.active {
	position:static;
}
.messages header,
.messages>footer,
.messages .entry,
.messages article footer {
	background:#dcdcdc;
	padding:10px 15px;
	font-size:1.1rem;
	font-size:12px;
	line-height:1.818181818181818em;
	color:#3f3f3f;
}

.messages article.new header {
	background-color:#990000;
	color:#FFF;
}

.messages article.new header .paging p{
	color:#FFF;
}

.messages article footer li {
	list-style:none;
	margin:0;
}
.messages .entry,
.messages>footer {
	font-size:1.5rem;
	font-size:15px;
	line-height:1.333333333333333em;
	overflow:hidden;
}
.messages article footer,
.messages .entry {
	background:transparent;
}
.messages article footer {
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
}
.messages article footer strong {
	text-transform:uppercase;
}
.messages article footer li a {
	display:block;
	padding-left:30px;
	line-height:2em;
	background:url(../images/ui/messages-download.png) left center no-repeat;
	color:#3f3f3f;
	margin-top:5px;
}
.messages .close {
	position:absolute;
	text-indent:100%;
	width:17px;
	white-space:nowrap;
	overflow:hidden;
	height:17px;
	right:15px;
	top:11px;
	background:url(../images/ui/messages-close.png) 0 0 no-repeat;
}
.messages .close:hover,
.messages .close:focus,
.messages .close:active {
	background-position:0 -17px;
}
.messages .paging {
	position:absolute;
	right:45px;
	top:7px;
	padding:0;
	font-size:12px;
	}

.paging {
	overflow:hidden;
	color:#3f3f3f;
	font-size:1.5rem;
	font-size:15px;
	line-height:28px;
	padding: 10px 0;
}
.paging p,
.paging .button {
	float:left;
}
.paging p {
	text-shadow:0 1px #fff;
	margin:0 10px;
}

/**************************************/

/* MAIN LOGIN */

.content-box.promotion .entry > h4 {
	border-bottom: 3px solid #555;
	background: #fff;
	color: #424242;
	font-size: 2.5em;
	text-transform: uppercase;
}
.content-box.promotion .entry > h4:after {
	display: none
}
.login-block {
	border-top: 1px solid #CCC
}
.login-block .button {
	margin-top: 20px;
	float: right;
}
.login-block .button.significant {
	float: left
}
.login.entry h2 {
	margin-bottom: 30px
}
.login.entry figure {
	margin: 20px 1px
}

/**************************************/