﻿
.timeline {
	margin-top:2em;
}
.timeline:first-child {
	margin-top:0;
}
.tl-canvas .tl-heading,
.tl-canvas .tl-desc {
	font-size:6em;
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#bdbdbd;
	text-transform:uppercase;
	text-align:center;
	margin-top:60px;
	font-weight:normal;
	text-shadow:0 1px #fff;
	line-height:1em;
}
.tl-canvas .tl-desc {
	text-transform:none;
	color:#888;
	margin-top:0;
	font-size:2.5em;
}
.tl-canvas .tl-item .tl-article {
	background:#eee;
	border-radius:2px;
	clear:both;
	padding:10px;
	margin:10px;
	box-shadow:0 1px 1px rgba(0,0,0,0.25);
	height:160px;
	overflow-y:auto;
}
.no-boxshadow .tl-canvas .tl-item .tl-article {
	border:1px solid #ddd;
	border-bottom-color:#cacaca;
	border-top:none;
}
.tl-canvas .tl-item .tl-article>img {
	float:left;
	border-radius:3px;
	margin-right:10px;
	max-width:40%;
	width:auto;
	height:auto;
}
.tl-canvas .tl-item .tl-article>.entry {
	overflow:hidden;
	font-size:12px;
	font-size:1.2rem;
	margin:5px 0 0;
	position:relative;
}
.tl-canvas .tl-item .tl-article>.entry>h4 {
	font-family:"League Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:2.5em;
	font-weight:normal;
	clear:none;
	padding-right:20px;
	margin-top:0;
}
.tl-canvas .tl-item .tl-article>.entry>h4 .tl-label {
	color:#990000;
}
.tl-canvas .tl-item .tl-article .tl-readmore {
	font-weight:bold;
}
.tl-canvas.enhanced {
	border-radius:3px;
	border:2px solid #fff;
	background:#f5f5f5 url(../images/ui/tl-pattern.png) 0 0 repeat;
	position:relative;
	height:300px;
	overflow:hidden;
}
.tl-canvas.enhanced .tl-items {
	background:#ddd url(../images/ui/tl-items-back.png) 0 0 repeat-x;
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	padding:0 50px;
	height:75px;
}
.tl-canvas.enhanced .tl-items>ol {
	position:relative;
	height:10px;
}
.tl-canvas.enhanced .tl-item {
	width:23px;
	height:23px;
	margin:-10px 0 0 -10px;
	background:url(../images/ui/tl-item-point.png) 0 0 no-repeat;
	position:absolute;
	left:5%;
	cursor:pointer;
	z-index:20;
}
.tl-canvas.enhanced .tl-item.active {
	background-position:0 -23px;
}
.tl-canvas.enhanced .tl-item.offset {
	z-index:10;
}
.tl-canvas.enhanced .tl-item.active {
	z-index:30;
}
.tl-canvas.enhanced .tl-item .tl-article {
	visibility:hidden;
	position:absolute;
	bottom:100%;
	left:0;
	width:470px;
	margin-bottom:30px;
	margin-left:-35px;
	cursor:default;
	z-index:10;
}
.no-boxshadow .tl-canvas.enhanced .tl-item .tl-article {
	margin-bottom:29px;
}
.tl-canvas.enhanced .tl-item.right .tl-article {
	margin-left:-440px;
}
.tl-canvas.enhanced .tl-item .tl-arrow {
	position:absolute;
	bottom:100%;
	margin-bottom:3px;
	width:29px;
	height:27px;
	background:url(../images/ui/tl-item-arrow.png) 0 0 no-repeat;
	z-index:80;
	left:10px;
	display:none;
}
.tl-canvas.enhanced .tl-item.right .tl-arrow {
	background-position:-29px 0;
	left:-19px;
}
.tl-canvas.enhanced .tl-item.active .tl-arrow {
	display:block;
}
.tl-canvas.enhanced .tl-item .tl-jslabel {
	font-size:12px;
	font-size:1.2rem;
	background:#fff;
	border-radius:3px;
	display:block;
	position:absolute;
	font-weight:bold;
	text-align:center;
	text-overflow:ellipsis;
	overflow:hidden;
	width:80px;
	padding:0 5px;
	line-height:24px;
	height:24px;
	white-space:nowrap;
	box-shadow:0 1px 1px rgba(0,0,0,0.5);
	margin:25px 0 0 -35px;
}
.tl-canvas.enhanced .tl-item.active .tl-jslabel {
	color:#fff;
  background-color: #990000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c10202), to(#990000));
  background-image: -webkit-linear-gradient(top, #c10202, #990000);
  background-image:    -moz-linear-gradient(top, #c10202, #990000);
  background-image:     -ms-linear-gradient(top, #c10202, #990000);
  background-image:      -o-linear-gradient(top, #c10202, #990000);
  background-image:         linear-gradient(to bottom, #c10202, #990000);
}
.tl-canvas.enhanced .tl-item .tl-jsline {
	border-left:1px dashed #999;
	display:block;
	position:absolute;
	width:1px;
	height:5px;
	z-index:30;
	top:20px;
	left:11px;
}
.tl-canvas.enhanced .tl-item.offset .tl-jslabel {
	margin-top:55px;
}
.tl-canvas.enhanced .tl-item.offset .tl-jsline {
	height:35px;
	z-index:5;
}
.tl-canvas.enhanced .tl-item.active .tl-article {
	visibility:visible;
	z-index:50;
}
.tl-canvas.enhanced .tl-item.active .tl-jslabel,
.tl-canvas.enhanced .tl-item:hover .tl-jslabel,
.tl-canvas.enhanced .tl-item.active .tl-article,
.tl-canvas.enhanced .tl-item:hover .tl-article {
	z-index:20;
}
.tl-canvas.enhanced .tl-item .tl-jsclose {
	position:absolute;
	right:0;
	top:0;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	width:19px;
	height:18px;
	background:url(../images/ui/tl-item-close.png) 0 0 no-repeat;
}
.tl-canvas.enhanced .tl-item .tl-jsclose:hover,
.tl-canvas.enhanced .tl-item .tl-jsclose:active {
	background-position:0 -18px;
}