﻿
.entry {
	margin: 0;
	padding: 0;
	width: auto;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.333333333333333em;
	position: relative;
	word-wrap: break-word;
}
.entry:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.entry .iframe {
	display: block;
	overflow: hidden;
	clear: both;
	z-index:1;
}
.entry .iframe iframe {
	max-width:100%;
	z-index:1;
}
.entry .iframe.youtube.is-hidden {
	position:relative;
	left:-9999px;
	visibility:hidden;
}
.entry .iframe.youtube .print-fallback,
.entry .media.vid .print-fallback {
	display:none;
}
.entry p {
	margin: 0 0 1.333333333333333em;
}
span.big {
font-size: 1.55rem;
}
.entry p.citewrapper {
	margin-top:-1.3333333333em  !important;
}
.entry p .cite,
.entry p.cite {
	font-size:0.73333333em;
	line-height:1.333333333333333em;
}
.entry p .citetext,
.entry p.citetext {
	font-size:0.586em;
	line-height: 1.606316em;
	display: block;
}
.entry p.empty-headline {
	padding-right:40px;
}
.entry img, .entry embed, .entry object, .entry video {
	max-width: 100%;
	height: auto;
}
.entry .media, .entry img, .entry figure {
	display: block;
	margin: 0 auto 1.333333333333em;
	position: relative;
}
.entry.article img {
	margin: 0;
}
.entry.article a.lb-image {
	cursor: url(../images/magnify.cur), url(/images/ui/magnify.cur), default;
	margin: 0;
}
.largeimage {width: 100% !important;}

.entry .media {	
	max-width:100%;
}
.entry figure>a {
	display:block;
}
.entry .media .caption, .entry figure figcaption {
	font-size: 0.7333333333333333em;
	margin: 0;
	overflow:hidden;
	text-overflow:ellipsis;
}
.entry img.right, .entry figure.right {
	float: right;
	margin: 0 0 1em 1em;
}
.entry img.left, .entry figure.left, .entry img.left {
	float: left;
	margin: 0 1em 1em 0;
}
.entry .media .video-js, .entry .media .sm-ui, .entry figure img {
	margin: 0;
	display: block;
	overflow: hidden;
	width: auto;
	height: auto;
	background: #fff;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.entry figure {
	text-align: center;
	background: #FFF;
}
.entry figure img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	margin:0;
    vertical-align:top;
}
.entry .media .sm-ui {
	overflow: visible;
}
.entry .media .caption cite, .entry figcaption cite {
	display: block;
	font-style: normal;
	color: inherit;
	font-size: 0.8em;
	overflow:hidden;
	text-overflow:ellipsis;
}
.entry .media.vid .video-js,
.entry .media-iframe .iframe.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.entry .media.vid object,
.entry .media.vid embed,
.entry .media-iframe .iframe.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.entry strong, .entry b {
	font-weight: bold;
}
.entry cite, .entry em, .entry i, .entry strong em, .entry em strong {
	font-style: italic;
}
.entry strong em {
	font-weight: bold;
}
.entry cite {
	color: #888;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
	clear: both;
	line-height: 1.2em;
	margin: 0.75em 0 0.4em;
}
.entry h1 img, .entry h2 img, .entry h3 img, .entry h4 img, .entry h5 img, .entry h6 img {
	display: inline;
	margin: 0 0.25em 0 0;
}
.entry h1:first-child, .entry h2:first-child, .entry h3:first-child, .entry h4:first-child, .entry h5:first-child, .entry h6:first-child {
	margin-top: 0;
}
.entry h1 {
	font-size: 4em;
	font-family: "League Gothic" , Arial, "Helvetica Neue" , Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.025em;
	overflow: hidden;
	text-overflow: ellipsis;
	// Fix for no text in tag
	min-height: 1px;
	min-width: 100%;
}
.entry h2 {
	font-size: 1.266666666666667em;
}
.entry h2 + h3 {
	margin-top:0;
}
.entry h4, .entry h5, .entry h6 {
	font-size: 1em;
	font-weight: bold;
}
.entry h3 {
	font-size: 1.063em;
	font-weight: bold;
}
.entry table {
	margin: 0 0 1.666666666666667em;
	font-size: 0.8em;
	border: 1px solid #d1ceca;
}
.entry table tr {
	border: 1px solid #d1ceca;
}
.entry table th, .entry table td {
	padding: 5px 10px;
	text-align: left;
	background: #fff;
	border: 1px solid #d1ceca;
}
.entry table thead {
	border-top: 1px solid #e67631;
	border-bottom: 1px solid #b84904;
}
.entry table tbody th {
	font-weight: bold;
}
.entry table thead tr:hover td, .entry table thead td, .entry table thead th {
	color: #fff;
	background: #990000;
	font-weight: bold;
	text-transform: uppercase;
}
.entry table.alternate thead {
	border-top: 1px solid #898989;
	border-bottom: 1px solid #474747;
}
.entry table.alternate thead tr:hover td, .entry table.alternate thead td, .entry table.alternate thead th {
	color: #fff;
	background: #595959;
	font-weight: bold;
	text-transform: uppercase;
}
.entry table.goals {
	font-size: 1em;
}
.entry table.goals .unchecked {
	background: #dddcd3 url(../images/ui/entry-table-goals-checkbox-deselected.png) center center no-repeat;
	padding: 0 20px;
}
.entry table.goals .checked {
	background: #fff url(../images/ui/entry-table-goals-checkbox-selected.png) center center no-repeat;
	padding: 0 30px;
}
.entry table.goals .unchecked, .entry table.goals .checked {
}
.entry table.goals .unchecked input, .entry table.goals .checked input {
	position: absolute;
	left: -999px;
}
.entry table.layout, .entry table.layout th, .entry table.layout td {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
.entry table.edit {
	table-layout: fixed;
	width: 100%;
	font-size: 1em;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.entry table.edit, .entry table.edit th, .entry table.edit td {
	border: 2px solid #fff;
	padding: 10px;
}
.entry table.edit thead tr:hover td, .entry table.edit thead td, .entry table.edit thead th {
	text-transform: none;
	border: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.33);
}
.entry blockquote {
	margin: 1em 4em 1em 2em;
	padding: 1em;
	border-left: 0.5em solid #ddd;
}
.entry blockquote > :last-child {
	margin-bottom: 0;
}
.entry blockquote ul li {
	font-style: normal;
}
.entry ol {
	list-style-type: decimal;
	margin-bottom: 1em;
}
.entry ul {
	list-style-type: disc;
	margin-bottom: 1em;
}
.entry li {
	margin: 0 0 0.5em 2em;
}
.entry > :last-child {
	margin-bottom: 0;
}
.entry > .last-child {
	margin-bottom: 0;
}
.entry sub, .entry sup {
	vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	bottom: -0.25em;
}
.entry sup {
	top: -0.5em;
	bottom: auto;
}
.entry.article > p, .entry.article > figure, .entry.article > .slideshow, .entry.article > ol, .entry.article > ul, .entry.article > table, .entry.article > h3, .entry.article > h4, .entry.article > h5, .entry.article > h6, .entry.article > blockquote, .entry.article > .content-box, .entry.article > .media, .entry.article > .media-iframe {
	float: right;
	width: 75%;
}
.entry.article > .media.vid .video-js {
	margin: 0 auto;
}
.entry .media-iframe {
	margin:0 auto 1.333333333333em;
}
.entry.article > p, .entry.article > figure, .entry.article > ol, .entry.article > ul, .entry.article > table, .entry.article > blockquote, .entry.article .content-box {
	margin: 0 0 1.333333333em;
}
.entry.article blockquote {
	padding: 0;
	border: none;
	font-style: italic;
}
.entry.article table {
	float: left;
	margin-left: 25%;
	width: auto;
}
.entry.article .media .caption, .entry.article figure figcaption {
	position: absolute;
	right: 105.333333333333333%;
	bottom: 0;
	line-height: 1.35em;
	text-align: right;
	width: 28%;
}
.entry.article h2 {
	padding: 4em 0 0;
	margin: 0;
	width: 21%;
	text-overflow:ellipsis;
	overflow:hidden;
}


//FIX for student article headings nested in lists
.entry.article li h2, .entry.article li h3, .entry.article li p {
	padding: 0 !important;
	margin: 0 !important;
	width: auto !important;
	overflow:visible !important;
}

.entry.article h1 + h2 {
	padding: 1em 0 0;
}
.entry.article h2:before {
	content: ".";
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #c0c0c0;
	margin-top: -2em;
}
.entry.article h2 > .before {
	content: ".";
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #c0c0c0;
	margin-top: -2em;
}
.entry.article .intro {
	width:100%;
	font-weight: bold;
}
.entry.article .author {
	font-size:11px;
	font-size:1.1;
}
.entry.article .author + h2 {
	padding-top: 2.4em;
}
.entry.article h2:first-child {
	padding-top: 0;
}
.entry.article h2:first-child {
	padding-top: 0;
}
.entry.article h2:first-child:before {
	display: none;
}
.entry.article h2:first-child > .before {
	display: none;
}
.entry > header {
	height: 45px;
	line-height: 45px;
	height: 4.5rem;
	line-height: 4.5rem;
	background: #666;
	color: #fff;
	padding: 0 20px;
	overflow: hidden;
}
.entry > header h3 {
	font-size: 33px;
	height: 45px;
	line-height: 45px;
	font-size: 3.3rem;
	height: 4.5rem;
	line-height: 4.5rem;
	font-weight: normal;
	font-family: "League Gothic" , Arial, "Helvetica Neue" , Helvetica, sans-serif;
	float: left;
}
.entry > header a {
	float: right;
	font-size: 12px;
	font-size: 1.2rem;
	color: #b7b7b7;
	text-decoration: none;
	background: url(../images/ui/icon-print.png) right center no-repeat;
	padding-right: 25px;
}
.entry > header a:hover {
	text-decoration: underline;
}
.entry > footer {
	border-top: 1px solid #c0c0c0;
	padding: 10px 0 0;
	overflow: hidden;
	clear: both;
}
.entry > footer p {
	margin: 0;
	font-size: 10px;
	font-size: 1rem;
	line-height: 1.3em;
}
.entry > footer .button {
	float: right;
	margin: 0 0 1.5em 15px;
}
/**
 * Slideshow of images
 * 
 * Slideshow
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.slideshow {
	position: relative;
	margin: 0 0 1.3333333em;
}
.slideshow:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.slideshow .paging {
	float: right;
	position: relative;
	z-index: 100;
}
.slideshow li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	background: #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.slideshow li img {
	display: block;
	margin: 0;
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.slideshow li > .entry {
	font-size: 12px;
	font-size: 1.2rem;
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15em;
	padding: 1em;
	background: url(../images/ui/black-opacity-80.png) 0 0 repeat;
	border-radius: 5px 0 0 5px;
	overflow: auto;
}
.slideshow li > .entry h1, .slideshow li > .entry h2, .slideshow li > .entry h3, .slideshow li > .entry h4, .slideshow li > .entry h5, .slideshow li > .entry h6 {
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: Arial, "Helvetica Neue" , Helvetica, sans-serif;
}
.slideshow.enhanced li {
	position: absolute;
	opacity: 0;
	z-index: 10;
	top: 0;
	-o-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-webkit-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	overflow: hidden;
}
.slideshow.enhanced li.active {
	position: relative;
	opacity: 1;
	z-index: 15;
}
.slideshow.enhanced li > .entry {
	padding-right: 2em;
	cursor: pointer;
	-o-transition: left 0.5s ease-out;
	-ms-transition: left 0.5s ease-out;
	-moz-transition: left 0.5s ease-out;
	-webkit-transition: left 0.5s ease-out;
	transition: left 0.5s ease-out;
}
.slideshow.enhanced li > .entry small {
	position: absolute;
	bottom: 8px;
}
.slideshow.enhanced li .entry .arrow {
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -2px;
	width: 2em;
	height: 5px;
	background: url(../images/ui/slideshow-arrow.png) bottom center no-repeat;
	cursor: pointer;
}
.slideshow.enhanced li .entry.closed .arrow {
	background-position: top center;
}
.slideshow.enhanced li .entry.closed {
	left: -16em;
}
/**
 * ABBR speech bubble.
 * 
 * Abbreviation
 *
 * @section		4.0			Content
 * @author						ldeleuran
 * @version						1.0
 * @since							1.0
*/
.abbr {
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	color: #cc5308;
}
.abbr:hover {
	border-bottom: 1px solid #cc5308;
}
.abbr .abbr-bubble {
	position: absolute;
	z-index:110;
	display: block;
	bottom: 100%;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.3em;
	font-weight: bold;
	left: 50%;
	margin-left: -100px;
	color: #424242;
	text-decoration: none;
	cursor: default;
	border: none;
	opacity: 1;
	-o-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-webkit-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	overflow:hidden;
	text-overflow:ellipsis;
}
.abbr.hidden .abbr-bubble {
	left: -1999px;
	opacity: 0.5;
}
.abbr .abbr-bubble .top, .abbr .abbr-bubble .inner, .abbr .abbr-bubble .bottom {
	display: block;
	padding: 0 10px 0 10px;
	background: url(../images/ui/abbr-bubble-large.png) center center repeat-y;
	width: 180px;
}
.abbr .abbr-bubble .top {
	background-position: left top;
	height: 15px;
}
.abbr .abbr-bubble .bottom {
	background-position: bottom right;
	height: 19px;
}
.abbr .abbr-bubble .inner {
	padding-bottom: 9px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-top: -2px;}

.feedback {
	clear: both;
	background: #ddd;
	margin: 1em auto;
	display: block;
	color: #424242;
	padding: 1em;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.feedback.success {
	background: #5a8935;
	color: #fff;
}
.feedback.error {
	background: #a61919;
	color: #fff;
}
